/* Banner 01 */
.banner-01 .wrapper{
  position:relative; height:20rem;
}
.banner-01 .wrapper .img-bg{
  position:absolute; top:0; right:0; bottom:0; left:0;
  background-size:cover; background-position:center; 
  background-repeat:no-repeat;
}
.banner-01 .swiper-pagination-bullets{bottom:1.25rem;}
/* .banner-01 .swiper-pagination-bullets{width:max-content; margin:0 auto;} */


/* Section 01 */
.section-01{position:relative; z-index:3;}
.section-01 .pattern{position:absolute; pointer-events:none;}
.section-01 .pattern.style-01{top:-21rem; left:0; right:0;}
.section-01 .pattern.style-01 img{width:100%;}
.section-01 .pattern.style-02{top:-21rem; left:0; right:0;}
.section-01 .pattern.style-02 img{width:100%;}
.section-01 .announce .text-container{
  position:relative; background: #008FD329; display:flex; align-items:center;
  height:2.5rem; border-radius:6.25rem; padding:.125rem 1.5rem .125rem 3rem;
}
.section-01 .announce .icon{
  position:absolute; top:0; left:0; bottom:0;
}
.section-01 .announce .icon img{
  display:block; max-width:100%; width:auto; max-height:100%; height:15rem;
}
.section-01 .menus-slider{width:100%; max-width:50rem; margin:0 auto;}
.section-01 .menus-slider .menu-item{
  display:flex; flex-direction:column; align-items:center; padding-top:1rem; cursor:pointer;
}
.section-01 .menus-slider .menu-item .icon{
  width:4.5rem; height:4.5rem; background: rgba(0, 143, 211, 0.1);
  border-radius:0% 120% 80% 120%; -webkit-transform: rotate(45deg); 
  display:flex; align-items:center; justify-content:center; transition:background .25s;
  transition:all .25s;
} 
.section-01 .menus-slider .menu-item .icon:hover{
  background-image:linear-gradient(180deg, #008FD3 0%, #9FCEED 100%);
}
.section-01 .menus-slider .menu-item .icon>img{
  -webkit-transform: rotate(315deg); transform:rotate(315deg);
}

/* Section 02 */
.section-02{position:relative; z-index:4;}
.section-02 .pattern{position:absolute;}
.section-02 .pattern.style-01{top:1rem; left:0; bottom:0; right:0;}
.section-02 .pattern.style-01 img{width:100%;}
.section-02 .pattern.style-02{top:-5rem; left:0;}
.section-02 .pattern.style-02 img{width:100%;}
.section-02 .pattern.style-03{top:-1rem; right:0;}
.section-02 .pattern.style-03 img{width:100%;}
.section-02 .float-title{position:absolute; bottom:100%; left:0; right:0;}
.section-02 .wave-slot{position:relative; display:block; width:100%; max-width:13rem; margin:0 auto;}
.section-02 .map-slot{display:block; overflow:hidden;}
.section-02 .wave-slot .text-top{
  position:absolute; top:1.25rem; text-align:center; width:100%;
}
.section-02 .wave-slot .text-bottom{
  position:absolute; bottom:1.25rem; text-align:center; width:100%;
}
.section-02 .map-slot .header{
  display:flex; align-items:center; background:var(--color-p); color:#ffffff;
  height:3rem; padding:0 .5rem; border-radius:var(--bradius) var(--bradius) 0 0;
}
.section-02 .map-slot .body{
  position:relative; display:block; width:100%; border:1px solid #eeeeee;
  border-radius:0 0 var(--bradius) var(--bradius); background:#ffffff;
  padding:calc((100% - 2rem) * 1.75 / 3 - 3rem) 0 0 0; overflow:hidden;
}
.section-02 .map-slot .body > .wrapper, .section-02 .map-slot .body > .img-bg{
  position:absolute; top:0; left:0; width:100%; height:100%;
  background-size:cover; background-position:center;
}
.section-02 .map-slot .logo{display:block; height:2.5rem; width:auto;}
.section-02 .map-slot .link{
  display:flex; align-items:center; height:2.25rem; padding:0 .75rem;
  border:1.5px solid #ffffff; background:var(--color-p); color:#ffffff;
  font-size:1rem; font-weight:500; cursor:pointer; transition:all .25s;
}
.section-02 .map-slot .link:hover{background:#ffffff; color:var(--color-p);}
.section-02 .map-slot .options{display:flex; margin:0 0 0 auto;}
.section-02 .map-slot .icon{
  display:flex; align-items:center; justify-content:center; width:2rem; height:2rem;
  font-size:.875rem; font-weight:400; color:#ffffff; border-radius:50%;
  cursor:pointer; white-space:nowrap; transition:all .25s;
}
.section-02 .map-slot .icon:hover{background:rgba(255,255,255,.2);}


/* Tab Container */
.tab-container{position:relative; display:block; width:100%;}
.tab-container .tabs{position:relative;}
.tab-container .tab{cursor:pointer;}
.tab-container .tab-contents{position:relative; width:100%;}
.tab-container .tab-content{position:absolute; pointer-events:none; opacity:0; padding:0; margin:0; transition:opacity .6s, transform .6s;}
.tab-container .tab-content.active{position:relative; overflow:hidden; pointer-events:auto; opacity:1;}
.tab-container .tab-content.fade-out:not(.no-fade){opacity:0; pointer-events:none;}
.tab-container .tab-content.fade-in:not(.no-fade){
  display:block; position:absolute; opacity:0; transform:translateY(1.5rem); pointer-events:none;
}

.tabs.tabs-01 .tab{
  border-radius:var(--bradius); background:#f7f7f7;
  padding:.875rem 1.5rem; transition:background .25s, color .25s;
}
.tabs.tabs-01 .tab.active{background:#008FD3; color:#ffffff;}


/* Section 03 */
.section-03{position:relative; overflow:hidden;}
.section-03 > .container{position:relative;}
.section-03 > .img-bg{
  position:absolute; top:0; left:0; width:100%; height:100%;
  background-size:cover; background-position:bottom center;
}
.section-03 .panel-card{
  position:relative; padding:2rem 1rem .5rem 1rem;
  background:#ffffff; box-shadow:rgba(100,100,111,.2) 0px 7px 29px 0px;
}
.section-03 .panel-card .card-title{
  position:absolute; top:-1.5rem; left:1rem; padding:.75rem 1rem;
  background:var(--color-p); color:#ffffff;
}
.section-03 .panel-card .item{
  display:flex; width:100%; cursor:pointer; padding:1.125rem 0;
  border-bottom:1px solid #eeeeee; transition:color .25s;
}
.section-03 .panel-card .item:last-child{border-bottom:0;}
.section-03 .panel-card .item:hover{color:var(--color-p);}
.section-03 .panel-card .item .dot{
  display:block; width:.5rem; height:.5rem; border:2px solid var(--color-p);
  border-radius:50%; margin:.375rem .875rem 0 .5rem; transition:background .25s;
}
.section-03 .panel-card .item:hover .dot{background:var(--color-p);}
.section-03 .panel-card .item .text-wrapper{width:calc(100% - 1.875rem);}
.section-03 .panel-card .item .tag{
  display:inline-block; border-radius:100em; background:var(--color-s); color:#ffffff;
  padding:.1875rem .375rem .125rem .375rem; font-size:60%; transform:translateY(-.0625rem);
}
.section-03 .tag-title{
  display:block; width:100%; max-width:17rem; text-align:center; border-radius:100em;
  padding:.5625rem 1rem; margin:1rem 0 1.5rem 0; background:rgba(0,0,0,.5);
}

/* Section 04 */
.section-04{position:relative; height:25rem; display:flex; align-items:center;}
.section-04 .img-bg{
  position:absolute; top:0; right:0; bottom:0; left:0;
  background-size:cover; background-position:top; 
  background-repeat:no-repeat;
}


/* Section 05 */
.section-05 .panel-card{
  position:relative; padding:1rem 0 .5rem 0;
}
.section-05{position:relative;}
.section-05 .img-bg{
  position:absolute; top:0; right:0; bottom:0; left:0;
  background-size:cover; background-position:top; 
  background-repeat:no-repeat;
}
.section-05 .swiper-01{padding:0 0rem 2rem 0rem}
.section-05 .panel-card .card-title{
  position:absolute; top:-1.5rem; left:1rem; padding:.75rem 1rem;
  background:var(--color-p); color:#ffffff;
}
.section-05 .panel-card .item{
  display:flex; width:100%; cursor:pointer; padding:.875rem 0;
  border-bottom:1px solid #eeeeee; transition:color .25s;
}
.section-05 .panel-card .item .title{
  display:block; display:-webkit-box; text-overflow:ellipsis; overflow:hidden;
  -webkit-box-orient:vertical; transition:color .25s;
}
.section-05 .panel-card .item .title{-webkit-line-clamp:1;}
.section-05 .panel-card .item:last-child{border-bottom:0;}
.section-05 .panel-card .item:hover{color:var(--color-p);}
.section-05 .panel-card .item .dot{
  display:block; width:.5rem; height:.5rem; border:2px solid var(--color-p);
  border-radius:50%; margin:.375rem .875rem 0 .5rem; transition:background .25s;
}
.section-05 .panel-card .item:hover .dot{background:var(--color-p);}
.section-05 .panel-card .item .text-wrapper{width:calc(100% - 1.875rem);}
.section-05 .panel-card .item .tag{
  display:inline-block; border-radius:100em; background:var(--color-s); color:#ffffff;
  padding:.1875rem .375rem .125rem .375rem; font-size:60%; transform:translateY(-.0625rem);
}
.section-05 .tag-title{
  display:block; width:100%; max-width:17rem; text-align:center; border-radius:100em;
  padding:.5625rem 1rem; margin:1rem 0 1.5rem 0; background:rgba(0,0,0,.5);
}


/* Water Wave */
.water-wave{
  position:relative; display:block; width:100%; padding:calc(100% - 1.125rem) 0 0 0;
  border-radius:50%; border:.5625rem solid #008fd3; background:#ffffff; overflow:hidden;
}
.water-wave .wrapper{
  position:absolute; top:0; left:0; width:100%; height:100%;
  border-radius:50%; border:.5625rem solid #e6f8ff;
}
.water-wave .inner-wrapper{position:relative; width:100%; height:100%;}
.water-wave .waves{
  position:relative; width:100%; height:100%; overflow:hidden;
  border-radius:50%; animation:waterWaves linear infinite;
}
.water-wave .wave-1, .water-wave .wave-2, .water-wave .wave-3{
  position:absolute; top:55%; left:-100%; background:#008fd3;
  opacity:.7; width:300%; height:300%; border-radius:40%;
  animation:inherit; animation-duration:8s;
}
.water-wave .wave-2{top:60%; opacity:.5; border-radius:35%; animation-duration:10s;}
.water-wave .wave-3{top:65%; opacity:.3; border-radius:33%; animation-duration:14s;}
.water-wave.type-02{border-color:#73d38b;}
.water-wave.type-02 .wrapper{border-color:#d7ffe1;}
.water-wave.type-02 .wave-1, .water-wave.type-02 .wave-2,
.water-wave.type-02 .wave-3{background:#73d38b;}
@keyframes waterWaves {
  0% { transform:rotate(0deg); }
  100% { transform:rotate(360deg); }
}
