/* Reset */
html, body, a, a:hover, table.table{color:#000000;}

:root{
    --color-p:#0f9dd4;
    --color-s:#004990;
    --color-t:#0E3A81;
}

/* Colors */
.color-white{color:#ffffff!important;}
.color-black{color:#000000!important;}
.color-p, .h-color-p:hover{color:var(--color-p)!important;}
.color-s, .h-color-s:hover{color:var(--color-s)!important;}
.color-t, .h-color-t:hover{color:var(--color-t)!important;}
.color-gray-01, .h-color-gray-01:hover{color:#AEADAD!important;}
.color-gray-02, .h-color-gray-02:hover{color:#AEADAD!important;}
.color-gray-03, .h-color-gray-03:hover{color:#909090!important;}
.color-01, .h-color-01:hover{color:#5F5E5D!important;}
.color-02, .h-color-02:hover{color:#FF0000!important;}
.color-03, .h-color-03:hover{color:#8589AB!important;}
.color-04, .h-color-04:hover{color:#D2E0F7!important;}
.color-05, .h-color-05:hover{color:#FFF61D!important;}
.color-gray-08, .h-color-gray-08:hover{color:#727272!important;}
.color-blue-01, .h-color-blue-01:hover{color:#0E3A81!important;}
.color-blue-02, .h-color-blue-02:hover{color:#232B4F!important;}
.color-bluesky-03, .h-color-bluesky-03:hover{color:#D2E0F7!important;}
.text-danger {color: #FF2B2B;}

.bg-white{background:#ffffff!important;}
.bg-black{background:#000000!important;}
.bg-p{background:var(--color-p)!important;}
.bg-s{background:var(--color-s)!important;}
.bg-t, .h-bg-t:hover{background:var(--color-t)!important;}
.bg-bluesky-01{background:#DCF0F9!important;}
.bg-bluesky-02{background:#009DDC!important;}
.bg-gray-07{background:#F1F1F1!important;}
.bg-gray-09{background:#F9F9F9!important;}
.bg-gradian-01{background:linear-gradient(180deg, #009DDC 0%, #0E3A81 100%);}
.bg-gradian-02{background: linear-gradient(180deg, #008FD3 0%, rgba(0, 143, 211, 0) 70%); opacity: .3;}
.bg-gradian-03{background: linear-gradient(0deg, #008FD3 0%, rgba(0, 143, 211, 0) 50%); opacity: .3;}
.bg-gradian-04{background: linear-gradient(90deg, #0E3A81 0%, #008FD3 100%);}

.bg-gradient-01{background: linear-gradient(270deg, rgba(0, 159, 98, 0) 0%, #018D57 36%, #027A4D 100%);}
.bg-gradient-02{background: linear-gradient(270deg, rgba(111, 192, 5, 0) 0%, #6FC005 36%, #F0F71D 100%);}
.bg-gradient-03{background: linear-gradient(270deg, rgba(255, 246, 29, 0) 0%, #FFF61D 36%, #FFD61D 100%);}
.bg-gradient-04{background: linear-gradient(270deg, rgba(0, 143, 211, 0) 0%, #008FD3 36%, #0E3A81 69%, #0E3A81 100%);}
.bg-gradient-05{background: linear-gradient(270deg, rgba(118, 154, 43, 0.80) 0%, rgba(90.84, 128.61, 37.92, 0.77) 5%, rgba(91, 129, 38, 0.10) 100%);}
.bg-gradient-06{background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);}
.bg-gradient-07{background: linear-gradient(180deg, rgba(0, 143, 211, 0.8) 0%, rgba(14, 58, 129, 0.8) 100%);}
.bg-gradient-08{background: linear-gradient(180deg, rgba(0, 63, 128, 0.9) 0%, rgba(0, 143, 211, 0.9) 100%);}
.bg-gradient-09{background: linear-gradient(270deg, #0B3617 0%, rgba(11, 54, 23, 0.56) 64.48%, rgba(11, 54, 23, 0) 100.76%);}
.bg-gradient-10{background: linear-gradient(90deg, rgba(14, 58, 129, 0.8) 0%, rgba(6, 109, 178, 0.405) 26.8%, rgba(0, 143, 211, 0) 92.42%);}
@media screen and (max-width:767.98px){
    .bg-gradient-01{background: linear-gradient(270deg, rgba(0, 159, 98, 0) 0%, #018D57 25%, #027A4D 100%);}
    .bg-gradient-02{background: linear-gradient(270deg, rgba(111, 192, 5, 0) 0%, #6FC005 25%, #F0F71D 100%);}
    .bg-gradient-03{background: linear-gradient(270deg, rgba(255, 246, 29, 0) 0%, #FFF61D 25%, #FFD61D 100%);}
    .bg-gradient-04{background: linear-gradient(270deg, rgba(0, 143, 211, 0) 0%, #008FD3 25%, #0E3A81 69%, #0E3A81 100%);}
}


.bcolor-white{border-color:#ffffff!important;}
.bcolor-black{border-color:#000000!important;}
.bcolor-p{border-color:var(--color-p)!important;}
.bcolor-s{border-color:var(--color-s)!important;}
.bcolor-t{border-color:var(--color-t)!important;}
.bcolor-gray-01{border-color:#666666!important;}
.bcolor-gray-02{border-color:#AEADAD!important;}
.bcolor-gray-03{border-color:#E6E6E6!important;}
.bcolor-01{border-color:#73BEE7!important;}
.bcolor-02{border-color:#EAEAEA!important;}
.bcolor-03{border-color:#cccccc!important;}
.bcolor-gray-06, .h-bcolor-gray-06:hover{border-color:#D9D9D9!important;}
.bcolor-gray-08, .h-bcolor-gray-07:hover{border-color:#ECECEC!important;}
.bcolor-white, .h-bcolor-white:hover{border-color:#ffffff!important;}



.font-gradient-01{
    -webkit-background-clip:text; -webkit-text-fill-color:transparent;
    background-image:linear-gradient(180deg, rgba(255,255,255,1) 38%, rgba(255,255,255,0) 100%);
}


/* Button */
.btn.btn-icon:hover .icon svg{fill:var(--color-p);}

.btn.btn-calendar, .btn.btn-calendar:focus{color:var(--color-p); background:#D9F4FF; border-color:#D9F4FF;}
.btn.btn-calendar.sm, .btn.btn-calendar.sm:focus{color:var(--color-p); background:#ffffff; border-color:var(--color-p);}
.btn.btn-calendar:hover, .btn.btn-calendar.sm.active{color:#ffffff; background:var(--color-p); border-color:var(--color-p);}
.btn.btn-calendar.inactive{color:#ffffff; background:var(--color-p); border-color:var(--color-p);}
.btn.btn-calendar:active{color:var(--color-p); background:var(--color-t); border-color:var(--color-t);}

.btn.btn-calendar.minisite, .btn.btn-calendar.minisite:focus{color:#7B7B7B; background:transparent; border-color:transparent;}
.btn.btn-calendar.minisite:hover, .btn.btn-calendar.minisite.active{color:#ffffff; background:var(--color-t); border-color:var(--color-t);}
.btn.btn-calendar.minisite.inactive{color:#ffffff; background:var(--color-p); border-color:var(--color-p);}
.btn.btn-calendar.minisite:active{color:#ffffff; background:var(--color-t); border-color:var(--color-t);}

.btn-play:before, .btn-play:after{background:#FF0000;}
.btn-play.primary::before, .btn-play.primary::after{background:#D5E4FC;}
.btn-play.primary svg path{fill:#008FD3;}
.btn.btn-gallery{background:#D5E4FC;}



/* Breadcrumb 01 */
.breadcrumb-01 .filter-01{background:linear-gradient(90deg, rgba(14, 58, 129, 0.7) 0%, rgba(0, 143, 211, 0.3) 29.51%, rgba(0, 143, 211, 0) 50%);}
.breadcrumb-01 .link-wrapper .link .menu{color:#ffffff;}
.breadcrumb-01 .link-wrapper .link:last-child .menu{color:#ffffff;}


/* E-book */
.ebook-container canvas{background:#666666;}
.ebook-container .df-container > .df-ui-next, 
.ebook-container .df-container > .df-ui-prev{color:#ffffff;}


/* Inputs */
input[type=text], input[type=email], input[type=password], input[type=date], input[type=tel],
input[type=number], input[type=phone], input[type=submit], input[type=file], select, textarea{
    color:#000000; background:#ffffff; border-color:#E9E9E9;
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=date]:focus, 
input[type=tel]:focus, input[type=number]:focus, input[type=phone]:focus, input[type=submit]:focus, 
input[type=file]:focus, select:focus, textarea:focus{
    border-color:var(--color-p)!important;
}
input::placeholder{color:#666666;}


/* List Header */
.list-header .option .icon-view{background:#F3F3F3;}
.list-header .option .icon-view:hover,
.list-header .option .icon-view.active{background:var(--color-p);}
.list-header .option .icon-view:hover svg path,
.list-header .option .icon-view.active svg path{fill:#ffffff!important;}
.list-header .option .icon-view svg path{fill:var(--color-p)!important;}
.list-header .option .icon-view.collapse.active{background:var(--color-p);}
.list-header .option .icon-view.collapse svg path{stroke:var(--color-p)!important;}
.list-header .option .icon-view.collapse.active svg path,
.list-header .option .icon-view.collapse:hover svg path{stroke:#ffffff!important;}
.list-header .option .icon-view.expand svg{stroke:var(--color-p)!important;}
.list-header.minisite .option .icon-view.collapse svg path{stroke:#ffffff!important;}
.list-header.minisite .option .icon-view.collapse.style-02 svg path{stroke:var(--color-p)!important;}
.list-header.minisite .option .icon-view.collapse.active svg path,
.list-header.minisite .option .icon-view.collapse:hover svg path{stroke:#ffffff!important;}

.list-header.minisite .option .icon-view.expand svg{stroke:#ffffff!important;}
.list-header .option .icon-view.expand.active svg,
.list-header .option .icon-view.expand:hover svg{stroke:#ffffff!important;}
.list-header .option .dropdown-icon{background:transparent; color:#ffffff;}
.list-header .option .icon-view.disable{color:#eeeeee;}
.list-header .option > .ui.icon.input input{background:#F8F8F8!important;}
.list-header .option > .ui.icon.input input::placeholder{color:#9D9D9D!important;}
.list-header .option > select{background:#ffffff!important;}
.list-header .option > input{background:#ffffff!important;}
.list-header .option > select, .list-header .option > input{border-color:#E9E9E9;}

.list-header-calendar .option > select, .list-header-calendar .option input{border-color:#E9E9E9!important;}

/* Rating Container */
.rating-container{display:flex; gap:10px;}
.rating-option{background:#ffffff; border-color:#cccccc;}
.rating-option.active{border-color:#0E3A81; background:#EFF6FF;}
.rating-option label::before{border-color:#d8d8d8;}
.rating-option.result{border-color:#DADCE0; background:#D7E1FC;}

/* Paginate */
.paginate .page.active, .paginate .page:hover{background:var(--color-p); color:#ffffff;}
.paginate .page{color:#9D9D9D;}
.paginate .arrow.arrow-prev{color:rgba(157, 157, 157, .3);}
.paginate .arrow.arrow-next{color:#9D9D9D;}


/* Client 01 */
.client-01 .logo-container .title{color:#003F80;}


/* Special Title 01 */
.ss-title-01{background: linear-gradient(90deg, #0E3A81 20%, #037CC1 54%, rgba(0, 143, 211, 0) 100%)}
.ss-title-01 .title{color:#ffffff;}


/* Special Tag */
.ss-tags > .tag{background:#E9F1FF; color:#008FD3;}


/* Services Container  */
.services-container .header .topic{background:var(--color-t);}
.services-container .header .topic.active{background:var(--color-p);}
.services-container .menu-item:nth-child(2) .ss-card-09 .text-container, 
.services-container .menu-item:nth-child(4) .ss-card-09 .text-container{background:rgba(0, 143, 211, 0.73);}
.services-container .menu-item:nth-child(3) .text-container, 
.services-container .menu-item:nth-child(6) .ss-card-09 .text-container{background:rgba(86, 190, 232, 0.82);}


/* Section 03 */
.section-03.minisite .swiper-pagination-bullets{background:rgba(0, 63, 128, 0.64);}
.section-03.minisite .swiper-expand .arrows .arrow{background:rgba(0, 63, 128, 0.5);}


/* Section 08 */
.section-08 .filter{background:linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);}
.section-08 .pagination{background:rgba(0,0,0,.56);}
.section-08 .arrows .arrow, .section-08 .arrows .arrow::before{background:#ffffff;}


/* Section 09 */
.section-09 .arrows .arrow, .section-09 .arrows .arrow::before{background:#ffffff;}


/* Special Card 05 */
.ss-card-05:hover .text-container > .title{color:var(--color-p);}

/* Timeline */
.timeline .timeline__content .timeline__year::before,
.timeline.up::before {border-color: #D1D1D1 !important;}
.timeline .timeline__content .timeline__year::after {border-color: var(--color-p) !important;}
.timeline.white .timeline__content .timeline__year::before,
.timeline.white .timeline__content .timeline__year::after,
.timeline.up.white::before {border-color: #ffffff !important;}

.filter-03{background:linear-gradient(180deg, rgba(0, 143, 211, 0.8) 0%, rgba(14, 58, 129, 0.8) 100%);}
.filter-04{
  background:linear-gradient(to right, rgba(14, 58, 129, 1) 11%, 
  rgba(14, 58, 129, 1) 47%,rgba(14, 58, 129, 0.15) 81%,rgba(14, 58, 129, 0) 100%);
}
/* Special Card 06 */
.ss-card-06:hover .btn.btn-icon .icon svg{fill:var(--color-p);}
.ss-card-06:hover .text-container > .title{color:var(--color-p);}


/* Special Card 07 */
.ss-card-07 .text-container{background:#ffffff;}


/* Special Card 08 */
.ss-card-08 .text-container{background: linear-gradient(104.59deg, #008FD3 16.46%, #003F80 86.28%);}
.ss-card-08 .text-container .wrapper::before{background: linear-gradient(104.59deg, #008FD3 50.46%, #003F80 185.28%);}



/* Table */
table.table.table-download tr{background:#F0F0F0;}


/* Accessibility */
nav.side-panel .icon{background: var(--color-p); fill:#ffffff;}
nav.side-panel > .wrapper > .icon:hover{background:var(--color-s);}
nav.side-panel.active > .wrapper > .icon{background:var(--color-s);}
nav.side-panel .panel-row{background:#ffffff; color:#000000; border-color:#0A112B;
  ;}
nav.side-panel .panel-row:nth-child(odd){background:#f2f2f2;}
nav.side-panel .panel-row:first-child{background:#ffffff; color:#000000;}
nav.side-panel .option:not(.btn-cursor):hover,
nav.side-panel .option:not(.btn-cursor).active nav.side-panel .option{color:#000000;}
nav.side-panel .option:not(.btn-cursor):hover, nav.side-panel .option:not(.btn-cursor).active{
  background:var(--color-s); color:#ffffff; fill:#ffffff;
}
nav.side-panel .option-row{color:#000000;}
nav.side-panel .option-row:first-child.active{background:var(--color-p); color:#ffffff;}
nav.side-panel .option-row .icon + *::before{background:var(--color-p);}
nav.side-panel .hamburger > *{background:#ffffff;}


/* Quicklink */
nav.quicklink-nav > .wrapper > .title {background: var(--color-p);color: #ffffff}
nav.quicklink-nav > .wrapper > .title:hover,
nav.quicklink-nav.active > .wrapper > .title {background: var(--color-s); color: #ffffff}
nav.quicklink-nav .list-items .item {background: #ffffff;}
nav.quicklink-nav .list-items .item:hover {background: var(--color-p);}
nav.quicklink-nav .list-items .item:hover .text {color: #ffffff;}
nav.quicklink-nav .list-items .arrows .arrow {color: var(--color-p);}

/* Nav System */
.navbar-custom {background: linear-gradient(90deg, #008FD3 25.31%, #003F80 101.69%);}
.leftside-menu .menu .user-avatar {background: #ffffff;}
.leftside-menu .menu .menu-item {color: #ffffff;}
.leftside-menu .menu .menu-item.active,
.leftside-menu .menu .menu-item:hover {background: var(--color-p);}

.box-card .box-title {background: linear-gradient(90deg, #008FD3 25.31%, #003F80 101.69%); color: #ffffff;}

/* Calendar - Day */
.calendar-day .fc-slats{
    border-bottom-color:transparent!important;
}
.calendar-day .fc-unthemed td,
.calendar-day .fc-unthemed tbody{border-color:#DADCE0 !important;}
.calendar-day .fc-unthemed tbody td.fc-axis.fc-widget-content:first-child{background:var(--color-t); color:var(--color-p);border-left-color: var(--color-p) !important;border-bottom-color: transparent !important;border-right-color: var(--color-p) !important;}
.calendar-wrapper .calendar-header-title > .wrapper .list{color:#ffffff;background:var(--color-p);}
.calendar-header-title > .wrapper .time {border-color:var(--color-p)!important; color:var(--color-p); background:var(--color-t);}
.calendar-day .fc-event{background:#ffffff; border-color:var(--color-p)!important;}
.calendar-day .fc-event.event-yellow{border-color:#FACF0F!important;}
.calendar-day .fc-event.event-red{border-color:#C70000!important;}
.calendar-day .fc-event.event-purple{border-color:#BF6DFF!important;}
.calendar-day .fc-event.event-blue{border-color:var(--color-p)!important;}

.calendar-day .fc-event.event-yellow .icon-time svg path{stroke:#FACF0F;fill:#FACF0F}
.calendar-day .fc-event.event-yellow .icon-location svg path{stroke:#FACF0F}
.calendar-day .fc-event.event-red .icon-time svg path{stroke:#C70000;fill:#C70000}
.calendar-day .fc-event.event-red .icon-location svg path{stroke:#C70000}
.calendar-day .fc-event.event-purple .icon-time svg path{stroke:#BF6DFF;fill:#BF6DFF}
.calendar-day .fc-event.event-purple .icon-location svg path{stroke:#BF6DFF}
.calendar-day .fc-event.event-blue{stroke:var(--color-p);fill:var(--color-p)}
.calendar-day .fc-event.event-blue .icon-time svg path{stroke:var(--color-p);fill:var(--color-p)}

.calendar-day .fc-event.event-yellow .btn.btn-icon .icon {background:#FACF0F;}
.calendar-day .fc-event.event-red .btn.btn-icon .icon {background:#C70000;}
.calendar-day .fc-event.event-purple .btn.btn-icon .icon {background:#BF6DFF;}
.calendar-day .fc-event.event-blue .btn.btn-icon .icon {background:var(--color-p);}


/* Calendar - Month */
.calendar-month .fc-theme-standard .fc-scrollgrid{border-color:#E9ECFF;}
.calendar-month .fc .fc-day-other .fc-daygrid-day-top{opacity:1;}
.calendar-month .fc .fc-day-other .fc-daygrid-day-number{color: #ffffff; background-color: #C4C4C4;}
.calendar-month .fc-theme-standard td, .fc-theme-standard th{border-color:#E9ECFF;}
.calendar-month .custom-event{color:#000000;}
.calendar-month .fc-popover-title{color:#000000;}
.calendar-month .fc-popover-body{border-color:#30906a!important}
.calendar-month .fc-popover-close{color:#000000;}
.calendar-month .fc-daygrid-day-number{background-color: #A6DAF3;}
.calendar-month .fc-daygrid-day.fc-day-today{background:#ECF5FF;}
.calendar-month .fc-daygrid-day.fc-day-today .fc-daygrid-day-number{background:var(--color-p); color:#ffffff;}
.calendar-month .fc-day-other{background:rgba(210, 210, 210, 0.15);}
.calendar-month .fc-daygrid-event-harness{background:transparent!important; color:#000000;}
.calendar-month .fc-event-title.fc-sticky{color:#000000;}
.calendar-month .fc-more-link{color:var(--color-p);}
.calendar-month .fc .fc-daygrid-more-link:hover{background:transparent;}
.calendar-month .fc-daygrid-dot-event.fc-event-mirror, .calendar-month .fc-daygrid-dot-event:hover{background:transparent;}

.calendar-month .fc-event.event-red>.custom-event{border-color:#FFD4D4; background:#FFD4D4; color:#C70000;}
.calendar-month .fc-popover .fc-popover-body .fc-event.event-red{background-color:#FFECEC;}
.calendar-month .fc-event.event-blue>.custom-event{border-color:#E5ECFF; background:#E5ECFF; color:var(--color-p)}
.calendar-month .fc-popover .fc-popover-body .fc-event.event-blue{background-color:#E0F5FF;}
.calendar-month .fc-event.event-yellow>.custom-event{border-color:#FEF5CF; background:#FEF5CF; color:#FACF0F;}
.calendar-month .fc-popover .fc-popover-body .fc-event.event-yellow{background-color:#FEF5CF;}

.calendar-month .fc-daygrid-day-events .fc-event.event-red>.custom-event,
.calendar-month .fc-daygrid-day-events .fc-event.event-blue>.custom-event,
.calendar-month .fc-daygrid-day-events .fc-event.event-yellow>.custom-event {color: #000000;}
.calendar-month .fc-daygrid-day .event-red .custom-event > .table .title::before {color:#C70000;}
.calendar-month .fc-daygrid-day .event-blue .custom-event > .table .title::before {color:var(--color-p);}
.calendar-month .fc-daygrid-day .event-yellow .custom-event > .table .title::before {color:#FACF0F;}


/* Calendar - Month - Popup Event */
.calendar-month .fc-event.theme-01{background:#E2F1FF;}
.calendar-month .fc-event.theme-01 .custom-event > .table .dot{background:#77BDFF;}
.calendar-month .fc-event.theme-02{background:#E4F1DA;}
.calendar-month .fc-event.theme-02 .custom-event > .table .dot{background:#5FBC18;}
.calendar-month .fc-event.theme-03{background:#FFD4D4;}
.calendar-month .fc-event.theme-03 .custom-event > .table .dot{background:#FF5E5E;}


/* Calendar Week */
.calendar-week th.fc-timegrid-axis{background:var(--color-t); color:var(--color-p);;}
.calendar-week .fc-col-header-cell{background:var(--color-p);}
.calendar-week .fc .fc-col-header-cell-cushion{color:#ffffff;}
.calendar-week .fc-col-header-cell.fc-day-today{background:var(--color-p)!important; color:var(--color-p);}
.calendar-week .fc-col-header-cell.fc-day-today > .fc-scrollgrid-sync-inner a{color:#ffffff;}
.calendar-week .fc-timegrid-slot.fc-timegrid-slot-label.fc-timegrid-slot-minor,
.calendar-week .fc-timegrid-slot-label-frame.fc-scrollgrid-shrink-frame{background:var(--color-t); color:var(--color-p); border-color: var(--color-p);}
.calendar-week .fc-event{background:#ffffff!important; border-color:var(--color-p)!important}
.calendar-week .fc-timegrid-axis-frame.fc-scrollgrid-shrink-frame.fc-timegrid-axis-frame-liquid{background:#2e603c; color:#ffffff;}
.calendar-week .fc-day.fc-day-today{background: var(--fc-neutral-bg-color);}
.calendar-week .fc-v-event .fc-event-main{color:#000000;}
.calendar-week .fc-event.event-yellow{background: rgba(250, 207, 15, .2) !important; border-color: #FACF0F !important;}
.calendar-week .fc-event.event-blue{background: rgba(109, 185, 255, .2) !important; border-color: #6DB9FF !important;}
.calendar-week .fc-event.event-red{background: rgba(255, 109, 109, .2) !important; border-color: #FF6D6D !important;}
.calendar-week .fc-event.event-purple{background: rgba(191, 109, 255, .2) !important; border-color: #BF6DFF !important;}
.fc-theme-standard th,
.fc-theme-standard .fc-scrollgrid,
.calendar-week tbody td[data-time="23:00:00"] .fc-timegrid-slot-label-frame.fc-scrollgrid-shrink-frame{border-color: var(--color-p) !important;}


/* Calendar Week */
.my-custom-popup{background:#F4F7FE;}
.my-custom-popup .content::before{background:#F4F7FE;}
.calendar-week.minisite .fc-timegrid-slot-label-frame.fc-scrollgrid-shrink-frame{background:#FCB913; color:var(--color-p);}



/* Calendar - Year */
.calendar-year .fc-multimonth-month{border-color:#EBEBEB!important;}
.calendar-year .fc-theme-standard td, .fc-theme-standard th {border-color:transparent!important;}
.calendar-year .fc-multimonth-month.active{border-color:#42A4FE!important;}
.calendar-year .fc .fc-cell-shaded, .fc .fc-day-disabled{background:#ffffff;}
.calendar-year .custom-event{border-color:#E9ECFF!important;}
.calendar-year .fc-multimonth-month .fc-multimonth-title{background:var(--color-p); color:#ffffff;}
.calendar-year .fc-multimonth-month.active .fc-multimonth-title{background:var(--color-p); color:#ffffff;}
.calendar-year .fc-col-header-cell-cushion{color:var(--color-p);}
.calendar-year .fc-multiMonthYear-view .fc-daygrid-event.fc-event-end,
.calendar-year .fc-multiMonthYear-view .fc-daygrid-event.fc-event-start,
.calendar-year .fc-multiMonthYear-view .fc-daygrid-more-link{background:var(--color-p);}
.calendar-year .fc-multiMonthYear-view .fc-daygrid-day.active .fc-daygrid-day-number{color:#ffffff;}
.calendar-year .fc-popover .fc-popover-body .fc-event{background:transparent; color:#000000;}
.calendar-year .fc-popover .fc-popover-body .fc-event *{color:#000000;}
.calendar-year .fc-popover .fc-popover-body .fc-event:hover{background:rgba(123, 177, 255, 0.15);}
.calendar-year .fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-frame{
    background:var(--color-p)!important; border-color:#91B4DE!important;
}
.calendar-year .fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-frame .fc-daygrid-day-number{color:#ffffff;}
  
  
/* Calendar Year */
.fc-theme-standard .fc-popover-header {background: #ffffff;}
.calendar-year .fc-popover .fc-popover-body .fc-event.event-blue{background-color: #E0F5FF;}
.calendar-year .fc-popover .fc-popover-body .fc-event.event-red{background-color:#FFECEC;}
.calendar-year .fc-popover .fc-popover-body .fc-event.event-yellow{background-color: #FFFBE9;}
.calendar-year .fc-popover .fc-popover-body .fc-event .title-time{color:#000000;}
.calendar-year .fc-popover .fc-popover-body .fc-event.event-blue .title{color:#42A4FF;}
.calendar-year .fc-popover .fc-popover-body .fc-event.event-red .title{color:#C70000;}
.calendar-year .fc-popover .fc-popover-body .fc-event.event-yellow .title{color:#EEAA00;}
.calendar-year .activity-list{background:#fafafa;}


/* Topnav */
nav.topnav .submenu > *:first-child  > .drop-water-dot{background:var(--color-p);}
nav.topnav .submenu:hover > *:first-child  > .drop-water-dot{background:#ffffff;}
nav.topnav .submenu:not(.sub-mega-menu):hover > *:first-child{background:var(--color-p);}
nav.topnav .submenu:not(.sub-mega-menu):hover > *:first-child a{color:#ffffff;}
nav.topnav .submenu.sub-mega-menu:hover > *:first-child{background:var(--color-p);}
nav.topnav .submenu.sub-mega-menu:hover > *:first-child a{color:#ffffff;}


.tabs.tabs-02 .tab.active, .tabs.tabs-02 .tab:hover{background: #008FD3;;}
.tabs.tabs-02 .tab, .tabs.tabs-02 .tab{background: rgba(0, 143, 211, 0.5); color:#FFFFFF;}




/* Sidenav */
nav.sidenav .submenu .dropdown-toggle{color:#000000;}
nav.sidenav .submenu a{color:#141414;}
/* nav.sidenav .menu:hover > *:first-child{color:#ffffff!important;} */
/* nav.sidenav .menu.active .dropdown-toggle{} */
/* nav.sidenav .submenu.active .dropdown-toggle{color:#ffffff;} */


nav.footer.minisite .logo{background:#ffffff;}
nav.footer.minisite .menu{color:#ffffff!important;}


/* Social Share */
.social-options .options .option:hover circle,
.social-options .social-wrapper .social:hover circle {
  fill: var(--color-t) !important;
}

/* Faq */
.faq-01 .answer {background: #F8F8F8;}
.faq-01 > .content.active .wrapper > table.table.table-download tr {background: linear-gradient(90deg, #008FD3 25.31%, #003F80 101.69%);}
.faq-01 > .content.active .wrapper > table.table.table-download .option{color: #ffffff !important;}
.faq-01 > .content.active .wrapper > table.table.table-download .btn-collap path{fill: #ffffff;}
.faq-01 > .content.active .wrapper > table.table.table-download .title {color: #ffffff !important;}
.water-wave.type-02{border-color:#73d38b;}
.water-wave.type-02 .wrapper{border-color:#d7ffe1;}
.water-wave.type-02 .wave-1, .water-wave.type-02 .wave-2,
.water-wave.type-02 .wave-3{background:#73d38b;}
.answer table.table.table-download tr{background-color: transparent; border-color: #f8f8f8 !important;}


/* Mini Box Toggle */
.mini-box-toggle .content .wrapper {background-color: #F7F7F7;}
.mini-box-toggle .content.active .wrapper {background-color: var(--color-p);}
.mini-box-toggle .content.active .title .icon svg path,
.mini-box-toggle .content.active .wrapper .btn-toggle svg path {fill: #ffffff;}
.mini-box-toggle .content.active .title .text {color: #ffffff;}

.mini-box-toggle .content .answer::-webkit-scrollbar-track{background: #EDF1FF;}
.mini-box-toggle .content .answer::-webkit-scrollbar-thumb{background:var(--color-p);}