
/* Topnav */
nav.topnav{
  position:fixed; top:0; left:0; width:100%; height:5.5rem; z-index:95; 
  background:#ffffff; box-shadow:rgba(145,158,171,.16) 0px 8px 16px;
  transition:all .25s;
}
nav.topnav::before{
  content:''; position:absolute; top:0; left:0; width:100%; height:2.5rem;
  background: linear-gradient(90deg, #008FD3 25.31%, #003F80 101.69%);
}
nav.topnav > .container{position:relative; height:100%; z-index:3;}
nav.topnav > .container::before, nav.topnav > .container > .pattern{
  position:absolute; top:.3125rem; left:calc(50% - 50vw);
  width:calc(50vw - 50% + 16.5rem + 6rem); height:2.1875rem;
}
nav.topnav > .container::before{content:''; width:calc(50vw - 50% + 2rem); background:#ffffff;}
nav.topnav > .container > .pattern img{
  position:relative; display:block; height:100%; width:auto; margin:0 0 0 auto;
}
nav.topnav .topnav-wrapper{
  position:relative; display:flex; justify-content:space-between; width:100%; height:100%;
}
nav.topnav .topnav-left{
  position:relative; display:flex; align-items:center; padding:.3125rem 0 0 0;
}
nav.topnav .topnav-right{position:relative;}

nav.topnav .logo{display:flex; align-items:center;}
nav.topnav .logo img{display:block; height:3.625rem; width:auto; margin:0 1rem 0 0;}
nav.topnav .logo h1{font-size:2rem; font-weight:700; color:var(--color-p); line-height:1;}
nav.topnav .logo p{font-size:.875rem; font-weight:700; color:#5f5e5d;}

nav.topnav .topnav-top{position:relative; height:2.5rem; display:flex; justify-content:flex-end;}
nav.topnav .topnav-top .pattern{
  position:absolute; top:0; bottom:0; left:-7.5rem;
}
nav.topnav .topnav-top .pattern img{
  display:block; height:100%; width:100%;
}
nav.topnav .topnav-bottom{height:3rem; display:flex; justify-content:flex-end;}

nav.topnav .options{position:relative; display:flex; align-items:center;}
nav.topnav .icon{
  display:flex; align-items:center; justify-content:center; height:1.5rem;
  font-size:.75rem; font-weight:400; color:#ffffff; border-radius:100em;
  margin:0 0 0 .375rem; cursor:pointer; white-space:nowrap; transition:all .25s;
}
nav.topnav .icon:hover{background:rgba(255,255,255,.2);}
nav.topnav .icon em{font-size:.875rem;}
nav.topnav .icon.icon-circle{width:1.5rem; border-radius:50%; padding:.0625rem 0 0 0;}
nav.topnav .icon.icon-text{padding:.0625rem .5rem 0 .5rem;}
nav.topnav .icon.icon-text em{margin:0 .5rem 0 0;}
nav.topnav .icon.icon-flag .flag-dropdown{background:#ffffff;}
nav.topnav .icon.icon-flag{position:relative; padding:.25rem; background:rgba(255,255,255,.2);}
nav.topnav .icon.icon-flag:hover,
nav.topnav .icon.icon-flag.active{background:#ffffff; color:var(--color-p);}
nav.topnav .icon.icon-flag .flag{
  display:block; width:1rem; height:1rem; border-radius:50%; margin:0 .5rem 0 0;
  background-size:cover; background-position:center;
}
nav.topnav .icon.icon-flag .flag-dropdown .flag-item{position:relative;}
nav.topnav .icon.icon-flag .flag-dropdown .flag-item>.wrapper {
  display:flex; align-items:center; padding:.25rem;
}
nav.topnav .icon.icon-flag .icon-water{
  padding:.1625rem .125rem .125rem 0;
}
nav.topnav .icon.icon-flag .icon-water img{
  display:block; width:5px; height:6px; transform:rotate(180deg);
}
nav.topnav .icon.icon-flag .text{padding:.0625rem .25rem 0 0; font-size:.6875rem;}
nav.topnav .icon.icon-flag .flag-dropdown{
  position:absolute; top:calc(100% + .25rem); left:auto; right:0; z-index:2;
  opacity:0; pointer-events:none; transition:opacity .25s, top .25s; border-radius:.25rem;
}
nav.topnav .icon.icon-flag:hover .flag-dropdown{
  opacity:1; top:100%; pointer-events:auto; overflow:hidden;
  width:calc(100% + 3rem); border-radius:.4375rem;
}
nav.topnav .icon.icon-flag:hover .flag-dropdown .flag-item{background:#ffffff;}
nav.topnav .icon.icon-flag:hover .flag-dropdown .flag-item.active,
nav.topnav .icon.icon-flag:hover .flag-dropdown .flag-item:hover{background:var(--color-p);}
nav.topnav .icon.icon-flag:hover .flag-dropdown .flag-item .title{color:#000000;}
nav.topnav .icon.icon-flag:hover .flag-dropdown .flag-item.active .title,
nav.topnav .icon.icon-flag:hover .flag-dropdown .flag-item:hover .title{color:#ffffff!important;}
nav.topnav .icon.icon-social{
  width:1.5rem; border-radius:50%; padding:.0625rem 0 0 0; font-size:.625rem;
  background:#ffffff; color:var(--color-s);
}
nav.topnav .icon.icon-social:hover{background:var(--color-p); color:#ffffff;}
nav.topnav .icon-sep{
  display:block; width:2px; height:1.25rem; margin:0 .375rem 0 .75rem; background:#ffffff;
}

nav.topnav .menu-container{display:flex;}
nav.topnav .menu{position:relative; display:block; margin:0 0 0 1.5rem;}
nav.topnav .menu > *:first-child{
  position:relative; display:flex; align-items:center; height:100%; padding:0 0 .25rem 0;
  font-size:.9375rem; font-weight:500; color:#000000; white-space:nowrap;
  cursor:pointer; transition:all .25s;
}
nav.topnav .menu:hover > *:first-child{color:var(--color-p);}
nav.topnav .menu > *:first-child .dot{
  display:block; width:.5rem; height:.5rem; border:1px solid var(--color-p);
  margin:0 0 0 .25rem; border-radius:50%; transition:background .25s;
  border-radius:0% 120% 80% 120%; -webkit-transform: rotate(225deg); 
}
nav.topnav .menu:hover > *:first-child .dot{background:var(--color-p);}
nav.topnav .menu > *:first-child::after{
  content:''; position:absolute; bottom:0; left:0; right:0; height:.25rem;
  background:var(--color-p); opacity:0; transition:opacity .25s;
}
nav.topnav .menu:hover > *:first-child::after,
nav.topnav .menu.active > *:first-child::after{opacity:1;}
nav.topnav .submenu-dropdown{
  position:absolute; top:100%; left:0;
  opacity:0; pointer-events:none; border-radius:.5rem;
  transition:opacity .5s, top .5s, left .25s, right .25s;
}
nav.topnav .submenu-dropdown.full-width{right:0; left:-14rem;}
nav.topnav .submenu-dropdown.anchor-right{left:auto; right:0;}
nav.topnav .submenu-dropdown.anchor-middle{transform:translateX(-50%);}
nav.topnav .menu:hover > .submenu-dropdown{opacity:1; top:100%; pointer-events:auto;}
nav.topnav .submenu-container{
  position:relative; display:flex; border-radius:0 0 .5rem .5rem; 
  box-shadow:0px 4px 8px 4px rgba(0,0,0,.1);
}
nav.topnav .submenu-dropdown.full-width .submenu-wrapper{width:calc(100% / 3);}
nav.topnav .submenu-dropdown.anchor-right .submenu-container::before{left:unset; right:1rem;}
nav.topnav .submenu-wrapper{display:block; width:280px; border-radius:.5rem; overflow:hidden; padding:.75rem;}
nav.topnav .submenu-wrapper.background{border-radius:0 0 0 .5rem;}
nav.topnav .submenu-wrapper.background .pattern{
  position:absolute; top:0; right:0; bottom:0; left:0; z-index:2;
}
nav.topnav .submenu-wrapper.background .pattern.style-01{
  display:flex; justify-content:center; align-items:flex-end;
  height:100%; width:100%; margin-left:-2.5rem;
}
nav.topnav .submenu-wrapper.background .pattern.style-01 img{
  display:block; max-width:100%; width:auto; height:12.5rem;
}
nav.topnav .submenu-wrapper .img-bg{
  position:absolute; top:0; right:0; bottom:0; left:-.4375rem;
  background-size:cover; background-position:left; 
  background-repeat:no-repeat;
}
nav.topnav .submenu{position:relative; border-bottom:1px solid transparent; border-radius:.5rem; overflow:hidden;}
nav.topnav .submenu:last-child{border-bottom:0;}
nav.topnav .submenu .wrapper{
  position:relative; transition:background .25s; display:flex; align-items:center;
  padding:.875rem .875rem .875rem .875rem;
}
nav.topnav .submenu .wrapper > .drop-water{
  display:block; width:.5rem; height:.5rem; border:1px solid var(--color-p);
  margin:0 .5rem 0 0; border-radius:50%; transition:border .25s; 
  border-radius:0% 120% 80% 120%; -webkit-transform: rotate(135deg); 
}
nav.topnav .submenu .wrapper:hover > .drop-water{border:1px solid #ffffff;}
nav.topnav .submenu .wrapper > a{
  display:block; position:relative; margin:0; 
  font-size:.9375rem; line-height:1.12; font-weight:400; transition:background .25s, color .25s;
  color:#5F5E5D;
}
nav.topnav .submenu .wrapper .submenu-patterns{
  position:absolute; bottom:-.375rem; right:1rem; pointer-events:none;
  opacity:0; transition:opacity .25s, transform .25s; transform:translateX(2rem);
}
nav.topnav .submenu:hover .submenu-patterns{opacity:1; transform:translateX(-1rem);}
nav.topnav .submenu .wrapper .submenu-patterns .submenu-pattern{position:relative;}
nav.topnav .submenu .wrapper .submenu-patterns .submenu-pattern .pattern-02{
  position:absolute; bottom:.3125rem; right:-1.125rem; z-index:1;
}
nav.topnav .submenu .wrapper:hover > a{color:#ffffff;}
nav.topnav .submenu .wrapper{display:flex;}
nav.topnav .submenu > .submenu-dropdown{top:-.6875rem; left:calc(100% + .5rem);}
nav.topnav .submenu-dropdown.anchor-right .submenu > .submenu-dropdown{
  left:unset; right:calc(100% + .5rem);
}
nav.topnav .submenu:hover > .submenu-dropdown{opacity:1; left:100%; pointer-events:auto;}
nav.topnav .submenu-dropdown.anchor-right .submenu:hover > .submenu-dropdown{right:100%;}
nav.topnav .menu:hover > *:first-child, nav.topnav .menu.active > *:first-child{color:var(--color-p);}
nav.topnav .menu > *:first-child::after{background:var(--color-p);}
nav.topnav .submenu:hover .wrapper, nav.topnav .submenu.active .wrapper{color:#ffffff; background:var(--color-p);}
nav.topnav .submenu-container{background:#ffffff;}
nav.topnav .submenu-container::before{background:#ffffff;}
nav.topnav .hamburger > *{background:var(--color-s);}
nav.topnav + .topnav-spacer{display:block; width:100%; height:5.5rem;}
nav.topnav .sidenav-toggle {
  display:none; align-items:center; justify-content:center;
}
@media screen and (max-width:1299.98px){
  nav.topnav .topnav-left{padding:.875rem 0 0 0;}
  nav.topnav > .container::before, nav.topnav > .container > .pattern{height:2rem; top:.75rem;}
  nav.topnav .topnav-top .pattern{left:-.5rem;}
}
@media screen and (max-width:1199.98px){
  nav.topnav .logo img{height:3.5rem;}
  nav.topnav .logo h1{font-size:1.5rem;}
  nav.topnav .logo p{font-size:.625rem;}
  nav.topnav .topnav-top .pattern{left:8.5rem;}
}
@media screen and (max-width:1060.98px){
   nav.topnav > .container > .pattern{width:calc(50vw - 50% + 18.5rem + 6rem)}
   nav.topnav .menu-container{display:none;}
   nav.topnav .topnav-top .pattern{left:-12rem;}
   nav.topnav .sidenav-toggle{display:flex;}
}
@media screen and (max-width:991.98px){
   nav.topnav > .container::before{left:calc(50% - 55vw);}
   nav.topnav .topnav-top .hide-tablet{display:none;}
   nav.topnav .topnav-top .pattern{left:-10rem;}
}
@media screen and (max-width:767.98px){
  nav.topnav > .container > .pattern{width:calc(50vw - 74% + 25rem + 6rem)}
  nav.topnav .topnav-top .pattern{left:-2.5rem; opacity:.3;}
  nav.topnav .icon-sep, nav.topnav .icon.icon-social{display:none;}
}
@media screen and (max-width:645.98px){
  nav.topnav .topnav-top .hide-mobile{display:none;}
  nav.topnav .icon.icon-text em{margin:0 0 0 0;}
  nav.topnav > .container > .pattern{left:-6rem;}
  nav.topnav .topnav-top .pattern{left:-5rem;}
}
@media screen and (max-width:529.98px){
  nav.topnav > .container > .pattern{left:-9rem;}
}
@media screen and (max-width:490.98px){
  nav.topnav > .container > .pattern{left:-12rem;}
  nav.topnav .logo img{height:3rem; margin:0 .75rem 0 0;}
  nav.topnav .logo h1{font-size:1.375rem;}
  nav.topnav .logo p{white-space: nowrap;}
  nav.topnav .topnav-top .pattern{left:-10rem;}
}
@media screen and (max-width:429.98px){
  nav.topnav > .container > .pattern{left:-12rem;}
  nav.topnav .topnav-top .pattern{left:-8rem;}
}
@media screen and (max-width:375.98px){
  nav.topnav .topnav-top .pattern{left:-4rem;}
}
@media screen and (max-width:320.98px){
  nav.topnav > .container > .pattern{left:-14rem;}
}


/* Sidenav */
nav.sidenav{
  display:none; position:fixed; top:0; right:0; width:340px; height:100vh; z-index:98;
  transform:translateX(340px); transition:transform .5s;
}
nav.sidenav > .wrapper{position:relative; width:100%; height:100%; overflow:hidden;}
nav.sidenav > .wrapper .logo{position:absolute; top:.5rem; left:2rem;}
nav.sidenav > .wrapper .logo img{
    display:block; width:auto; height:3rem;
}
nav.sidenav .sidenav-toggle{
  display:block; width:4rem; height:4rem; padding:1.5rem 1rem 0 1rem; margin:0 0 0 auto;
  cursor:pointer; border-left:1px solid transparent;
}
nav.sidenav .options{display:flex; width:100%; margin:0; border-top:1px solid transparent;}
nav.sidenav .options > .option, nav.sidenav .options > .option-btn{
  display:flex; align-items:center; justify-content:center; width:calc(100% / 3);
  height:3.125rem; position:relative; cursor:pointer; border-right:1px solid transparent; 
}
nav.sidenav .options > .option:last-child{border-right:0;}
nav.sidenav .option > .icon{font-size:1.3125rem; line-height:1.12; font-weight:400;}
nav.sidenav .option .flag{
  display:block; width:1.5rem; height:1.5rem; border-radius:50%; margin:0 auto;
  background-size:cover; background-position:center; background-repeat:no-repeat;
}
nav.sidenav .options > .option-btn > a{
  display:block; font-size:1.3125rem; line-height:1.12; font-weight:400; transition:color .25s;
}
nav.sidenav .option > .dropdown{
  position:absolute; top:calc(100% + .25rem); left:0; right:0; opacity:0;
  border:1px solid transparent; border-radius:.25rem; pointer-events:none;
  box-shadow:0px 4px 8px 4px rgba(0,0,0,.08); overflow:hidden; z-index:1;
  transition:opacity .5s, top .5s;
}
nav.sidenav .option:hover > .dropdown{opacity:1; top:100%; pointer-events:all;}
nav.sidenav .option > .dropdown > *{
  display:flex; align-items:center; justify-content:center; width:100%; height:3.125rem;
  font-size:1.3125rem; line-height:1.12; font-weight:400; text-decoration:none;
  border-top:1px solid transparent;
}
nav.sidenav .option > .dropdown > *:first-child{border-top:0;}
nav.sidenav .option [data-theme="0"]{background:#ffffff!important; color:#000000!important;}
nav.sidenav .option [data-theme="1"]{background:#000000!important; color:#ffffff!important;}
nav.sidenav .option [data-theme="2"]{background:#000000!important; color:#ffff00!important;}
nav.sidenav .scroll-wrapper{
  display:block; width:100%; height:calc(100% - 12rem); max-height:calc(100% - 12rem);
  overflow-x:hidden; overflow-y:auto; border-top:1px solid transparent;
  padding:0 0 1px 0;
}
nav.sidenav .menu, nav.sidenav .submenu{position:relative!important; overflow:hidden;}
nav.sidenav .menu > *:first-child, nav.sidenav .submenu > *:first-child{position:relative;}
nav.sidenav .menu > *:first-child::after, nav.sidenav .submenu > *:first-child::after{
  position:absolute; top:0; left:-75%; z-index:2; display:block;
  content:''; width:50%; height:100%; 
  background:-webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  background:linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  transform:skewX(-25deg); transform:skewX(-25deg);
}
nav.sidenav .menu > *:first-child:hover::after, nav.sidenav .submenu > *:first-child:hover::after{-webkit-animation:shine .75s; animation:shine .75s; pointer-events:none;}
nav.sidenav .menu > *:first-child, nav.sidenav .submenu > *:first-child{
  position:relative; display:block; width:100%; text-decoration:none; padding:1.0625rem 1rem .875rem 1rem;
  margin:0; font-size:1rem; font-weight:300; line-height:1.25;
  border-bottom:1px solid transparent; transition:background .25s, color .25s;
}
nav.sidenav .menu::before, nav.sidenav .submenu::before,
nav.sidenav .menu .submenu .submenu.level-2::before{
  content:''; position:absolute; top:0; bottom:0; left:0; width:0;
  transition:width .25s; pointer-events:none;
}
nav.sidenav .menu:hover::before, nav.sidenav .submenu:hover::before,
nav.sidenav .menu.active::before,
nav.sidenav .menu .submenu .submenu.level-2:hover::before{width:100%;}
nav.sidenav .submenu > *:first-child{padding-left:1.5rem;}
nav.sidenav .submenu .submenu{position:relative;}
nav.sidenav .submenu .submenu > *:first-child::before{
  content:''; position:absolute; top:0; bottom:0; left:0;
  width:0; transition:width .25s; z-index:2;
}
nav.sidenav .submenu .submenu > *:first-child{padding-left:2.5rem;}
nav.sidenav .has-children > *:first-child{padding-right:4.125rem!important;}
nav.sidenav .submenu-dropdown, nav.sidenav .submenu > .submenu-wrapper{display:none;}
nav.sidenav .dropdown-toggle{
  position:absolute; right:0; top:-.25rem; width:3.125rem; height:3.125rem; text-align:center;
  line-height:3.875rem; cursor:pointer; font-size:.875rem; font-weight:300;
  transition:.25s;
}
nav.sidenav .dropdown-toggle > em{transition:transform .25s, color .25s;}
nav.sidenav .dropdown-toggle.active > em{transform:rotate(90deg);}
nav.sidenav .dropdown-toggle::after{display:none;}
nav.sidenav .icon-hide{display:none;}
nav.sidenav ~ .sidenav-filter{
  display:none; position:fixed; top:0; left:0; width:100%; height:100vh; z-index:97;
  background:#000000; opacity:0; pointer-events:none; cursor:pointer; transition:opacity .5s;
}
nav.sidenav{display:block;}
nav.sidenav.active{transform:translateX(0);}
nav.sidenav ~ .sidenav-filter{display:block;}
nav.sidenav.active ~ .sidenav-filter{opacity:.7; pointer-events:all;}

nav.sidenav .submenu:hover .submenu-patterns{opacity:1; transform:translateX(-1rem);}
nav.sidenav .submenu .wrapper .submenu-patterns .submenu-pattern{position:relative; display:none;}
nav.sidenav .submenu .wrapper .submenu-patterns .submenu-pattern .pattern-02{
  position:absolute; bottom:.3125rem; right:-1.125rem; z-index:1;
}
nav.sidenav .menu.mega-menu .submenu-wrapper.background{display:none;}
nav.sidenav .menu.mega-menu .submenu-container>.d-flex{display:unset!important;}

/* Sidenav */
nav.sidenav{background:#ffffff;}
nav.sidenav .hamburger > *{background:#222325;}
nav.sidenav .sidenav-toggle, nav.sidenav .options, 
nav.sidenav .options > .option, nav.sidenav .options > .option-btn,
nav.sidenav .option > .dropdown, nav.sidenav .option > .dropdown > *, nav.sidenav .scroll-wrapper, 
nav.sidenav .menu > *:first-child{border-color:#e1e1e1;}
nav.sidenav .submenu > *:first-child{border-color:#e1e1e1;}
nav.sidenav .option > .dropdown{background:#ffffff;}
nav.sidenav .menu > *:first-child{color:#000000;}
nav.sidenav .menu:hover > *:first-child,
nav.sidenav .menu.active > *:first-child{color:#ffffff!important;}
nav.sidenav .menu:hover::before, nav.sidenav .submenu:not(.level-2):hover::before,
nav.sidenav .menu.active::before,
nav.sidenav .submenu:not(.level-2).active::before{background:var(--color-p)}
nav.sidenav .submenu{color:#ffffff;}
nav.sidenav .submenu a{color:#141414;}
nav.sidenav .submenu:hover a{color:var(--color-p);}
nav.sidenav .submenu .dropdown-toggle{color:#ffffff;}
nav.sidenav .submenu > *:first-child{background:#f7f7f7 ; color:#ffffff;}
nav.sidenav .menu .submenu .submenu.level-2{background:#ffffff;}
nav.sidenav .menu .submenu .submenu.level-2:hover::before{background:#c2c6c7;}
nav.sidenav .menu .submenu .submenu.level-2:hover > *:first-child{color:#ffffff;}
nav.sidenav .submenu:hover > *:first-child,
nav.sidenav .submenu.active > *:first-child{color:var(--color-s);}
nav.sidenav .dropdown-toggle{color:#232323;}
nav.sidenav .menu:hover .dropdown-toggle, nav.sidenav .submenu:hover .dropdown-toggle,
nav.sidenav .menu.active .dropdown-toggle,
nav.sidenav .submenu.active .dropdown-toggle{color:#ffffff;}
nav.sidenav .option > .dropdown .flag-wrapper:hover{background:#e1e1e1;}
nav.sidenav .options > .option-btn:hover > a{color:#14206a;}



/* Footer */
nav.footer{position:relative; height:calc(100dvh + 2rem); padding:2.5rem; z-index:1; margin-top:-2rem;}
nav.footer .img-bg{
  position:absolute; top:0; left:0; width:100%; height:100%;
  background-size:cover; background-position:top;
}
nav.footer .img-bg.show-mobile{display:none; filter:blur(2px);}
nav.footer .menu{display:flex; align-items:center; color:var(--color-s); font-weight:400;}
nav.footer .menu .drop-water{
  display:block; width:.875rem; height:.875rem; border:1px solid var(--color-p);
  margin:0 .5rem 0 0; border-radius:50%; transition:border .25s; 
  border-radius:0% 120% 80% 120%; -webkit-transform: rotate(45deg); 
}
nav.footer .menu .text{padding-left:.375rem; width:calc(100% - .875rem);}
nav.footer .footer-wrapper{position: relative; height:100%; display:flex; flex-direction:column; justify-content:space-between;}
nav.footer .footer-bottom .wrapper{
  display:flex; justify-content:center; flex-direction:column; align-items:center;
}
nav.footer .footer-bottom .policy{text-align:center; border-top:1px solid transparent; padding-top:.5rem;}
nav.footer .footer-bottom .policy a{margin:0 .5rem;}
nav.footer .footer-bottom .policy{border-color:#ffffff;}
@media screen and (max-width:991.98px){
  nav.footer .contact-wrapper{flex-direction:column;}
  nav.footer .contact-wrapper .list-item{margin-bottom:.5rem;}
  nav.footer .contact-wrapper .list-item.ml-5{margin-left:0!important;}
  nav.footer .img-bg.show-desktop{filter:blur(2px);}
  nav.footer .socials{justify-content:flex-start!important;}
  nav.footer .text-right{text-align:left!important;}
}
@media screen and (max-width:767.98px){
  nav.footer .ss-padding{padding-left:0!important;}
  nav.footer .img-bg.show-desktop{display:none;}
  nav.footer .img-bg.show-mobile{display:block;}
}
@media screen and (max-width:575.98px){
  nav.footer .socials{justify-content:flex-start!important;}
  nav.footer .text-right{text-align:center!important; color:#ffffff!important; margin-top:.5rem!important;}
  nav.footer{height:unset; min-height:calc(100dvh + 2rem); padding:2rem .25rem;}
}