@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

:root{
  --fw: 'Noto Sans Thai', sans-serif;
  --lh: 1.3;
  --color-p: #008fd3;
  --color-s: #003f80;
  --bradius: .5rem;
}

.color-gray-01, .h-color-gray-01:hover{color:#AEADAD!important;}


/* Reset */
html, body{
  padding:0; margin:0; font-family:var(--fw); color:#000000;
  font-size:16px; font-weight:300; line-height:var(--lh);
}
body.loading{height:100dvh!important; overflow:hidden!important;}

*{box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; outline:none;}

a{color:inherit; transition:all .25s;}
a, a:hover{text-decoration:none;}
a.link{text-decoration:underline; font-weight:400;}

img.img{display:block; width:100%; height:auto;}
.fit{position:absolute; top:0; bottom:0; left:0; right:0;}
.img-fill{background-size:cover; background-position:center; background-repeat:no-repeat;}

input[type=text], input[type=email], input[type=password], input[type=date], input[type=tel],
input[type=number], input[type=phone], input[type=submit], nput[type=file], select, 
textarea, button{font-family:var(--fw);}

button, .btn{
  display:flex; align-items:center; justify-content:center; width:auto; height:auto;
  background:unset; border:unset; box-shadow:unset; outline:unset; text-decoration:unset;
  white-space:nowrap; cursor:pointer; line-height:var(--lh); transition:all .25s;
}


/* Scrollbar */
::-webkit-scrollbar{width:5px; border-radius:.25rem;}
::-webkit-scrollbar-thumb{border-radius:.25rem;}
::-webkit-scrollbar:horizontal{height:5px;}
::-webkit-scrollbar-track{background:transparent;}
::-webkit-scrollbar-thumb{background:#cccccc;}
::-webkit-scrollbar-thumb:hover{background:#cccccc;}


/* Section & Container */
section{width:100%; overflow:hidden;}
.section-padding{padding:4rem 0;}
.section-padding-sm{padding:1.75rem 0;}
.container{position:relative; width:100%; max-width:calc(1240px - 2rem); padding:0; margin:0 auto;}
.container.expand-right{max-width:calc(620px - 1rem + 50vw); margin:0 0 0 auto;}
@media screen and (min-width:1400px){
  .container{max-width:calc(1300px - 2rem);}
  .container.expand-right{max-width:calc(650px - 1rem + 50vw);}
}
@media screen and (max-width:1299.98px){
  .container{max-width:calc(1140px - 2rem);}
  .container.expand-right{max-width:calc(570px - 1rem + 50vw);}
}
@media screen and (max-width:1199.98px){
  .container{max-width:calc(992px - 2rem);}
  .container.expand-right{max-width:calc(496px - 1rem + 50vw);}
}
@media screen and (max-width:991.98px){
  .section-padding{padding:3.5rem 0;}
  .container{max-width:calc(768px - 2rem);}
  .container.expand-sm{max-width:100%;}
  .container.expand-right{max-width:calc(384px - 1rem + 50vw);}
}
@media screen and (max-width:767.98px){
  .section-padding{padding:3rem 0;}
  .section-padding-sm{padding:1.5rem 0;}
  .container{max-width:calc(576px - 2rem);}
  .container.expand-xs{max-width:100%;}
  .container.expand-right{max-width:calc(288px - 1rem + 50vw);}
}
@media screen and (max-width:575.98px){
  .section-padding{padding:2.5rem 0;}
  .container{max-width:calc(100% - 2rem);}
  .container.expand-xxs{max-width:100%;}
  .container.expand-right{max-width:calc(50% - 1rem + 50vw);}
}


/* Typography */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .p, li{
  margin:0; font-weight:300; line-height:var(--lh);
}
h1, .h1{font-size:3.5rem;}
h2, .h2{font-size:3rem;}
h3, .h3{font-size:2.5rem;}
h4, .h4{font-size:2.25rem;}
h4.sm, .h4.sm{font-size:2rem;}
h5, .h5{font-size:1.625rem;}
h6, .h6{font-size:1.375rem;}
h6.sm, .h6.sm{font-size:1.25rem;}
p.lg, .p.lg{font-size:1.125rem;}
p, .p{font-size:1rem;}
p.sm, .p.sm{font-size:.9375rem;}
p.xs, .p.xs{font-size:.875rem;}
p.xxs, .p.xxs{font-size:.75rem;}


/* Inputs */
input[type=text], input[type=email], input[type=password], input[type=date], input[type=tel],
input[type=number], input[type=phone], input[type=submit], input[type=file], select, textarea{
  border:1px solid transparent; border-radius:0; box-shadow:none!important;
  font-size:1.3125rem; line-height:var(--lh); font-weight:300; padding:.4375rem .75rem; margin:0;
  outline:none!important; transition:border-color .25s, color .25s;
}

/* Buttons */
.btn.btn-action{
  font-size:1rem; font-weight:300; text-align:center; width:auto;
  padding:.4375rem 1.5rem; border:1.5px solid transparent;
}
.btn.btn-action em{font-size:.8125rem;}
.btn.btn-action img{display:block; height:1.375rem; width:auto;}
.btn.btn-icon{width:2.875rem; height:2.5rem; border:1.5px solid transparent;}
.btn.btn-icon img{display:block; height:1.5rem; width:auto;}
.btn.btn-mw-01{min-width:14rem;}


/* Button */
.btn.btn-p, .btn.btn-p:focus{color:#ffffff; background:var(--color-p); border-color:var(--color-p);}
.btn.btn-p:hover{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.06);}
.btn.btn-p:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.12);}

/* Hamburger */
.hamburger{cursor:pointer;}
.hamburger > *{
  width:1rem; height:.125rem; transform:translateX(.375rem); transition:all .45s;
}
.hamburger > *:nth-child(2){margin:.25rem 0; width:1.375rem; transform:none;}
.hamburger.active > *:nth-child(1){
  width:1.375rem; -webkit-transform:rotate(-45deg)translate(-.4rem, .4rem);
  transform:rotate(-45deg)translate(-.4rem, .4rem);
}
.hamburger.active > *:nth-child(2){opacity:0; transform:translateX(2rem);}
.hamburger.active > *:nth-child(3){
  width:1.375rem; -webkit-transform:rotate(45deg)translate(-.1rem,-.2rem);
  transform:rotate(45deg)translate(-.1rem, -.2rem);
}


/* Highlight */
.highlight{display:block; position:relative; width:100%; overflow:hidden;}
.highlight::after{
  content:''; display:block; width:50%; height:100%; 
  position:absolute; top:0; left:-75%; z-index:2;
  background:-webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  background:linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  transform:skewX(-25deg); transform:skewX(-25deg);
}
.highlight:hover::after{
  -webkit-animation:shine .75s; animation:shine .75s; pointer-events:none;
}
@-webkit-keyframes shine { 100% { left:125%; } }
@keyframes shine { 100% { left:125%; } }


/* Scroll Wrapper */
.scroll-wrapper{width:100%; overflow:hidden;}
.scroll-x-wrapper{width:100%; overflow-x:auto; overflow-y:hidden; padding:0 0 .875rem 0;}
.scroll-y-wrapper{width:100%; overflow-x:hidden; overflow-y:auto; padding:0 .875rem 0 0;}


/* Special Box */
.ss-box{display:block; width:100%; max-width:54rem; margin:0 auto;}
.ss-box.xl{max-width:69rem;}


/* Special Card */
.ss-card{display:block; width:100%;}
.ss-card .title, .ss-card .desc{
  display:block; display:-webkit-box; text-overflow:ellipsis; overflow:hidden;
  -webkit-box-orient:vertical; transition:color .25s;
}

/* Special Card 01 */
.ss-card-01{position:relative;}
.ss-card-01 .text-wrapper{
  display:flex; align-items:center; justify-content:center; height:5rem;
  position:absolute; bottom:0; left:0; right:0; padding:1rem .5rem;
  text-align:center; color:#ffffff; font-size:1.1875rem; font-weight:500;
}
.ss-card-01 .logo{
  position:absolute; top:0; left:0; background:#ffffff;
  padding:.75rem; border-radius:0 0 1rem 0; width:4.5rem; height:4.5rem;
  display:flex; justify-content:center; align-items:center;
}
.ss-card-01 .logo img{
  display:block; max-width:100%; width:auto; max-height:auto; height:3rem;
}

/* Special Card 02 */
.ss-card-02{position:relative; overflow:hidden;}
.ss-card-02 .text-wrapper{
  position:absolute; bottom:0; left:0; right:0; padding:1rem;
  color:#ffffff; font-size:1.125rem; font-weight:400;
}

/* Special Card 03 */
.ss-card-03{position:relative; overflow:hidden;}
.ss-card-03 .ss-img{padding:175% 0 0 0;}
.ss-card-03 .text-wrapper{
  position:absolute; bottom:0; left:0; right:0; padding:.75rem 1rem; color:#ffffff;
}

/* Special Card 04 */
.ss-card-04{
  box-shadow:rgb(0 0 0 / 7%) 0px 5px 20px;
}
.ss-card-04 .ss-img{
  border-radius:var(--bradius) var(--bradius) 0 0;
}
.ss-card-04 .tag {
  position:absolute; bottom:0; left:0;
  min-width:5rem; white-space:nowrap; background:#ff750e;
  overflow:hidden; padding: .5rem 1.75rem .5rem 1.75rem;
}
.ss-card-04 .text-container{background:#ffffff; padding:1rem; border-radius:0 0 var(--bradius) var(--bradius);}


/* Special Card Hover Filter */
.ss-card .hover-filter{
  position:absolute; bottom:0; left:0; right:0; pointer-events:none; transition:all .3s;
  background-image:linear-gradient(to bottom, rgba(255,255,255,0), rgba(0,143,211,.95));
}
.ss-card .hover-filter.type-01{height:5rem;}
.ss-card:hover .hover-filter.type-01{height:140%;}
.ss-card .hover-filter.type-02{height:9rem;}
.ss-card:hover .hover-filter.type-02{height:140%;}

/* Special Card Hover Line */
.ss-card .line-1::before, .ss-card .line-1::after,
.ss-card .line-2::before, .ss-card .line-2::after,
.ss-card .line-3::before, .ss-card .line-3::after,
.ss-card .line-4::before, .ss-card .line-4::after{
  content:''; position:absolute; z-index:1;
}
.ss-card .ss-img .line-1, .ss-card .ss-img .line-2,
.ss-card .line-3::before, .ss-card .line-3::after,
.ss-card .line-4::before, .ss-card .line-4::after{pointer-events:none;}
.ss-card .line-1::before, .ss-card .line-1::after{
  left:50%; height:3px; width:0; transition:left .5s, width .5s;
}
.ss-card .line-1::before{top:0;} .ss-card .line-1::after{bottom:0;}
.ss-card:hover .line-1::before, .ss-card:hover .line-1::after{left:0; width:100%;}
.ss-card .ss-img .line-2::before, .ss-img .line-2::after {
  top:50%; width:4px; height:0; transition: top .5s, height .5s;
}
.ss-card .ss-img .line-2::after{right:0;}
.ss-card:hover .line-2::before, .ss-card:hover .line-2::after{top:0; height:100%;}
.ss-card .ss-img .line-2::before{left:0;}
.ss-card .line-7::before, .ss-card .line-7::after{
  height:3px; width:0; transition:left .5s, right .5s, width .5s;
}
.ss-card .line-3::before{top:0; left:25%;}
.ss-card .line-3::after{bottom:0; right:25%;}
.ss-card:hover .line-3::before{left:0; width:50%;}
.ss-card:hover .line-3::after{right:0; width:50%;}
.ss-card .line-3::before, .ss-card .line-3::after {
  height:3px; width:0; transition: left .5s, right .5s, width .5s;
}
.ss-card .line-4::before, .ss-card .line-4::after{
  width:3px; height:0; transition:top .5s, bottom.5s, height .5s;
}
.ss-card .line-4::before{left:0; top:25%;} 
.ss-card .line-4::after{right:0; bottom:25%;}
.ss-card:hover .line-3::before {left:0; width:50%;}
.ss-card:hover .line-4::before{top:0; height:50%;}
.ss-card:hover .line-4::after{bottom:0; height:50%;}

/* Special Card Hover Line  */
.ss-card .line-1::before, .ss-card .line-1::after,
.ss-card .line-2::before, .ss-card .line-2::after{background:#ff750e;}
.ss-card .line-3::before, .ss-card .line-3::after,
.ss-card .line-4::before, .ss-card .line-4::after{background:#ffffff;}
.ss-card .line-3.bg-p::before, .ss-card .line-3.bg-p::after,
.ss-card .line-4.bg-p::before, .ss-card .line-4.bg-p::after{background:#ff750e;}


/* Special Title */
.ss-title{display:flex;}
.ss-title > *:first-child{
  background-image:linear-gradient(to right,
    rgba(0,63,128,1), rgba(0,63,128,1),
    rgba(0,143,211,.5),
    rgba(0,63,128,1), rgba(0,63,128,1)
  );
  -webkit-background-clip:text; -webkit-text-fill-color:transparent;
}


/* Special Image */
.ss-img{display:block; position:relative; width:100%; padding:65% 0 0 0; overflow:hidden;}
.ss-img.square{padding:100% 0 0 0;}
.ss-img.horizontal{padding:50% 0 0 0;}
.ss-img > .img-bg{
  position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
  background-position:center; background-repeat:no-repeat; transition:transform .3s;
}
.ss-img:hover > .img-bg, .ss-card:hover .ss-img > .img-bg{transform:scale(1.1);}
.ss-img.no-hover > .img-bg, .ss-card .ss-img.no-hover > .img-bg{transform:none!important;}

.ss-img .hover-container{
  position:absolute; top:0; bottom:0; left:0; right:0; opacity:0;
  display:flex; justify-content:center; align-items:center;
  transition:opacity .25s, background .25s;
}
.ss-img:hover .hover-container, .ss-card:hover .ss-img .hover-container{opacity:1;}
.ss-img .hover-container .icon{display:block; width:4rem;}
.ss-img .hover-container .icon.md{display:block; width:3rem;}
.ss-img .hover-container .icon > img{display:block; width:100%; height:auto;}
.ss-img .hover-container .icon > em{position:relative; z-index:2; font-size:3.5rem;}

/* Special Stat */
.ss-stats{
  width:100%; display:flex; flex-wrap:wrap; margin:.25rem 0 0 0;
}
.ss-stats .stat{
  display:flex; align-items:center; white-space:nowrap; margin:.1875rem 1.25rem 0 0;
  font-size:.875rem; font-weight:400; transition:color .25s;
}
.ss-stats .stat .title{font-size:.875rem;}
.ss-stats .stat .icon{
  display:flex; align-items:center; font-size:.8125rem;
  justify-content:start; width:1.25rem; height:1.25rem;
}
.ss-stats .stat .icon img{
  display:block; width:.875rem; height:auto;
}

/* Table */
table.table{width:100%; border-spacing:0; border:0; margin:0;}
table.table th, table.table td{
  vertical-align:middle; border-color:transparent;
  border-left:0!important; border-right:0!important;
}
table.table td{
  padding:.5625rem .625rem; font-size:.9375rem; font-weight:300;
  border:0; border-bottom:1px solid transparent;
}
table.table td:first-child{padding:.5625rem .625rem .5625rem 0;}
table.table tr:last-child > td{border-bottom:0;}
table.table td:last-child{padding:.5625rem 0 .5625rem .625rem; text-align:right;}


/* Table Sizes */
table.table.table-lg td, table.table.table-lg th{padding:.6875rem .625rem;}
table.table.table-lg td:first-child,
table.table.table-lg th:first-child{padding:.6875rem .625rem .6875rem 0;}
table.table.table-lg td:last-child,
table.table.table-lg th:last-child{padding:.6875rem 0 .6875rem .625rem;}

table.table.table-sm td, table.table.table-sm th{padding:.4375rem .5625rem;}
table.table.table-sm td:first-child,
table.table.table-sm th:first-child{padding:.4375rem .5625rem .4375rem 0;}
table.table.table-sm td:last-child,
table.table.table-sm th:last-child{padding:.4375rem 0 .4375rem .5625rem;}


/* Spacing */
.p-0{padding:0!important;}
.p-1{padding:.25rem!important;} .p-2{padding:.5rem!important;}
.p-3{padding:.75rem!important;} .p-4{padding:1rem!important;}
.p-5{padding:1.25rem!important;} .p-6{padding:1.5rem!important;}
.pt-0{padding-top:0!important;} 
.pt-1{padding-top:.25rem!important;} .pt-2{padding-top:.5rem!important;} 
.pt-3{padding-top:.75rem!important;} .pt-4{padding-top:1rem!important;}
.pt-5{padding-top:1.25rem!important;} .pt-6{padding-top:1.5rem!important;}
.pr-0{padding-right:0!important;} 
.pr-1{padding-right:.25rem!important;} .pr-2{padding-right:.5rem!important;} 
.pr-3{padding-right:.75rem!important;} .pr-4{padding-right:1rem!important;}
.pr-5{padding-right:1.25rem!important;} .pr-6{padding-right:1.5rem!important;}
.pb-0{padding-bottom:0!important;} 
.pb-1{padding-bottom:.25rem!important;} .pb-2{padding-bottom:.5rem!important;}
.pb-3{padding-bottom:.75rem!important;} .pb-4{padding-bottom:1rem!important;}
.pb-5{padding-bottom:1.25rem!important;} .pb-6{padding-bottom:1.5rem!important;}
.pl-0{padding-left:0!important;} 
.pl-1{padding-left:.25rem!important;} .pl-2{padding-left:.5rem!important;}
.pl-3{padding-left:.75rem!important;} .pl-4{padding-left:1rem!important;}
.pl-5{padding-left:1.25rem!important;} .pl-6{padding-left:1.5rem!important;}

.m-0{margin:0!important;} .m-auto{margin-left:auto!important; margin-right:auto!important;}
.m-1{margin:.25rem!important;} .m-2{margin:.5rem!important;}
.m-3{margin:.75rem!important;} .m-4{margin:1rem!important;}
.m-5{margin:1.25rem!important;} .m-6{margin:1.5rem!important;}
.mt-0{margin-top:0!important;} 
.mt-1{margin-top:.25rem!important;} .mt-2{margin-top:.5rem!important;}
.mt-3{margin-top:.75rem!important;} .mt-4{margin-top:1rem!important;}
.mt-5{margin-top:1.25rem!important;} .mt-6{margin-top:1.5rem!important;}
.mr-auto{margin-right:auto!important;}
.mr-0{margin-right:0!important;}
.mr-1{margin-right:.25rem!important;} .mr-2{margin-right:.5rem!important;}
.mr-3{margin-right:.75rem!important;} .mr-4{margin-right:1rem!important;}
.mr-5{margin-right:1.25rem!important;} .mr-6{margin-right:1.5rem!important;}
.mb-0{margin-bottom:0!important;} 
.mb-1{margin-bottom:.25rem!important;} .mb-2{margin-bottom:.5rem!important;}
.mb-3{margin-bottom:.75rem!important;} .mb-4{margin-bottom:1rem!important;}
.mb-5{margin-bottom:1.25rem!important;} .mb-6{margin-bottom:1.5rem!important;}
.ml-auto{margin-left:auto!important;}
.ml-0{margin-left:0!important;}
.ml-1{margin-left:.25rem!important;} .ml-2{margin-left:.5rem!important;}
.ml-3{margin-left:.75rem!important;} .ml-4{margin-left:1rem!important;}
.ml-5{margin-left:1.25rem!important;} .ml-6{margin-left:1.5rem!important;}


/* Utility */
.fw-100{font-weight:100!important;}
.fw-200{font-weight:200!important;}
.fw-300{font-weight:300!important;}
.fw-400{font-weight:400!important;}
.fw-500{font-weight:500!important;}
.fw-600{font-weight:600!important;}
.fw-700{font-weight:700!important;}
.fw-800{font-weight:800!important;}
.fw-900{font-weight:900!important;}

.lh-xl{line-height:calc(var(--lh) * 1.3)!important;}
.lh-lg{line-height:calc(var(--lh) * 1.2)!important;}
.lh-md{line-height:calc(var(--lh) * 1.1)!important;}
.lh-nm{line-height:calc(var(--lh) * 1.0)!important;}
.lh-sm{line-height:calc(var(--lh) * 0.9)!important;}
.lh-xs{line-height:calc(var(--lh) * 0.85)!important;}
.lh-xxs{line-height:calc(var(--lh) * 0.8)!important;}

.text-sm{font-size:75%;}
.text-xs{font-size:50%;}

.tt-unset{text-transform:unset!important;}

.ls-0{letter-spacing:0!important;}
.ls-1{letter-spacing:-.06!important;}
.ls-2{letter-spacing:-.12!important;}

.op-100{opacity:1!important;} .op-0{opacity:0!important;}
.op-10{opacity:.1!important;} .op-20{opacity:.2!important;} .op-30{opacity:.3!important;}
.op-40{opacity:.4!important;} .op-50{opacity:.5!important;} .op-60{opacity:.6!important;}
.op-70{opacity:.7!important;} .op-80{opacity:.8!important;} .op-90{opacity:.9!important;}

.pos-absolute{position:absolute!important;}
.pos-relative{position:relative!important;}

.d-block{display:block!important;}
.d-flex{display:flex!important;}
.d-inline{display:inline!important;}
.d-inline-block{display:inline-block!important;}
.d-none{display:none!important;}

.jc-start{justify-content:flex-start!important;}
.jc-center{justify-content:center!important;}
.jc-end{justify-content:flex-end!important;}
.jc-space-between{justify-content:space-between!important;}
.jc-space-evenly{justify-content:space-evenly!important;}
.ai-center{align-items:center!important;}
.ai-start{align-items:flex-start!important;}
.ai-end{align-items:flex-end!important;}
.ai-stretch{align-items:stretch!important;}
.ai-unset{align-items:unset!important;}
.fw-wrap{flex-wrap:wrap!important;}
.fw-unset{flex-wrap:unset!important;}

.w-auto{width:auto!important; min-width:0!important}
.w-full{width:100%!important; max-width:100%!important;}
.h-auto{height:auto!important; min-height:0!important;}
.h-full{height:100%!important; max-height:100%!important;}

.ws-nowrap{white-space:nowrap!important;}
.ws-normal{white-space:normal!important;}
.ws-prewrap{white-space:pre-wrap!important;}
.ws-preline{white-space:pre-line!important;}

.pe-none{pointer-events:none!important;}
.pe-auto{pointer-events:auto!important;}

.c-pointer{cursor:pointer!important;}
.c-unset{cursor:unset!important;}

.border-0{border:0!important;}
.border-1{border:1px solid transparent!important;}
.border-2{border:2px solid transparent!important;}
.border-3{border:3px solid transparent!important;}
.border-4{border:4px solid transparent!important;}
.border-top-0{border-top:0px solid transparent!important;}
.border-top-1{border-top:1px solid transparent!important;}
.border-top-2{border-top:2px solid transparent!important;}
.border-top-3{border-top:3px solid transparent!important;}
.border-top-4{border-top:4px solid transparent!important;}
.border-bottom-0{border-bottom:0px solid transparent!important;}
.border-bottom-1{border-bottom:1px solid transparent!important;}
.border-bottom-2{border-bottom:2px solid transparent!important;}
.border-bottom-3{border-bottom:3px solid transparent!important;}
.border-bottom-4{border-bottom:4px solid transparent!important;}
.border-left-0{border-left:0px solid transparent!important;}
.border-left-1{border-left:1px solid transparent!important;}
.border-left-2{border-left:2px solid transparent!important;}
.border-left-3{border-left:3px solid transparent!important;}
.border-left-4{border-left:4px solid transparent!important;}
.border-right-0{border-right:0px solid transparent!important;}
.border-right-1{border-right:1px solid transparent!important;}
.border-right-2{border-right:2px solid transparent!important;}
.border-right-3{border-right:3px solid transparent!important;}
.border-right-4{border-right:4px solid transparent!important;}

.bradius{border-radius:var(--bradius)!important;}
.bradius-0{border-radius:0!important;}
.bradius-1{border-radius:4px!important;}
.bradius-2{border-radius:8px!important;}
.bradius-3{border-radius:12px!important;}
.bradius-4{border-radius:16px!important;}
.bradius-round{border-radius:1000em!important;}

.box-shadow{box-shadow:rgb(0 0 0 / 7%) 0px 10px 20px;}

.ovf-unset{overflow:unset!important;}
.ovf-hidden{overflow:hidden!important;}
.ovf-visible{overflow:visible!important;}
.clear-both{clear:both!important;}

.va-top{vertical-align:top!important;}
.va-baseline, .va-bl{vertical-align:baseline!important;}

.text-center{text-align:center!important;}
.text-left{text-align:left!important;}
.text-right{text-align:right!important;}

.all-no-br > br{display:none;}
.all-hide{display:none;}
@media screen and (max-width:1199.98px){
	.lg-text-center{text-align:center!important;}
	.lg-text-left{text-align:left!important;}
	.lg-text-right{text-align:right!important;}
	
	.lg-jc-center{justify-content:center!important;}

  .lg-no-br > br{display:none;}
  .lg-hide{display:none;}
}
@media screen and (max-width:991.98px){
	.md-text-center{text-align:center!important;}
	.md-text-left{text-align:left!important;}
	.md-text-right{text-align:right!important;}
	
	.md-jc-center{justify-content:center!important;}

  .md-no-br > br{display:none;}
  .md-hide{display:none;}
}
@media screen and (max-width:767.98px){
	.sm-text-center{text-align:center!important;}
	.sm-text-left{text-align:left!important;}
	.sm-text-right{text-align:right!important;}
	
	.sm-jc-center{justify-content:center!important;}

  .sm-no-br > br{display:none;}
  .sm-hide{display:none;}
	
	.sm-ws-unset{white-space:unset!important;}
}
@media screen and (max-width:575.98px){
	.xs-text-center{text-align:center!important;}
	.xs-text-left{text-align:left!important;}
	.xs-text-right{text-align:right!important;}
	
	.xs-jc-center{justify-content:center!important;}

  .xs-no-br > br{display:none;}
  .xs-hide{display:none;}
  .xs-hide{display:none;}
	
	.xs-ws-unset{white-space:unset!important;}
}


/* Colors */
.color-p, .h-color-p:hover{color:var(--color-p)!important;}
.color-s, .h-color-s:hover{color:var(--color-s)!important;}
.color-white, .h-color-white:hover{color:#ffffff!important;}
.color-black, .h-color-black:hover{color:#000000!important;}
.color-danger, .h-color-danger:hover{color:#ff0000!important;}
