@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --fw: 'Noto Sans Thai', sans-serif;
  --font-popins: "Poppins", sans-serif;
  --lh: 1.3;
  --color-p: #008fd3;
  --color-s: #003f80;
  --bradius: .5rem;
  --bradius-1: 17px;
  --bradius-2: 20px;
}

.font-popins{font-family:var(--font-popins);}

.color-01, .h-color-01:hover{color:#5F5E5D!important;}
.color-02, .h-color-02:hover{color:#FF0000!important;}
.color-gray-01, .h-color-gray-01:hover{color:#AEADAD!important;}


/* Reset */
html, body{
  padding:0; margin:0; font-family:var(--fw); color:#000000;
  font-size:16px; font-weight:300; line-height:var(--lh);
}
body.loading{height:100dvh!important; overflow:hidden!important;}

*{box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; outline:none;}

a{color:inherit; transition:all .25s;}
a, a:hover{text-decoration:none;}
a.link{text-decoration:underline; font-weight:400;}

img.img{display:block; width:100%; height:auto;}
.fit{position:absolute; top:0; bottom:0; left:0; right:0;}
.img-fill{background-size:cover; background-position:center; background-repeat:no-repeat;}

input[type=text], input[type=email], input[type=password], input[type=date], input[type=tel],
input[type=number], input[type=phone], input[type=submit], nput[type=file], select, 
textarea, button{font-family:var(--fw);}

button, .btn{
  display:flex; align-items:center; justify-content:center; width:auto; height:auto;
  background:unset; border:unset; box-shadow:unset; outline:unset; text-decoration:unset;
  white-space:nowrap; cursor:pointer; line-height:var(--lh); transition:all .25s;
}


/* Scrollbar */
::-webkit-scrollbar{width:5px; border-radius:.25rem;}
::-webkit-scrollbar-thumb{border-radius:.25rem;}
::-webkit-scrollbar:horizontal{height:5px;}
::-webkit-scrollbar-track{background:transparent;}
::-webkit-scrollbar-thumb{background:#cccccc;}
::-webkit-scrollbar-thumb:hover{background:#cccccc;}


/* Section & Container */
section{width:100%; overflow:hidden;}
.section-padding{padding:4rem 0;}
.section-padding-sm{padding:1.75rem 0;}
.container{position:relative; width:100%; max-width:calc(1240px - 2rem); padding:0; margin:0 auto;}
.container.expand-right{max-width:calc(620px - 1rem + 50vw); margin:0 0 0 auto;}
@media screen and (min-width:1400px){
  .container{max-width:calc(1300px - 2rem);}
  .container.expand-right{max-width:calc(650px - 1rem + 50vw);}
}
@media screen and (max-width:1299.98px){
  .container{max-width:calc(1140px - 2rem);}
  .container.expand-right{max-width:calc(570px - 1rem + 50vw);}
}
@media screen and (max-width:1199.98px){
  .container{max-width:calc(992px - 2rem);}
  .container.expand-right{max-width:calc(496px - 1rem + 50vw);}
}
@media screen and (max-width:991.98px){
  .section-padding{padding:3.5rem 0;}
  .container{max-width:calc(768px - 2rem);}
  .container.expand-sm{max-width:100%;}
  .container.expand-right{max-width:calc(384px - 1rem + 50vw);}
}
@media screen and (max-width:767.98px){
  .section-padding{padding:3rem 0;}
  .section-padding-sm{padding:1.5rem 0;}
  .container{max-width:calc(576px - 2rem);}
  .container.expand-xs{max-width:100%;}
  .container.expand-right{max-width:calc(288px - 1rem + 50vw);}
}
@media screen and (max-width:575.98px){
  .section-padding{padding:2.5rem 0;}
  .container{max-width:calc(100% - 2rem);}
  .container.expand-xxs{max-width:100%;}
  .container.expand-right{max-width:calc(50% - 1rem + 50vw);}
}


/* Typography */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .p, li{
  margin:0; font-weight:300; line-height:var(--lh);
}
h1, .h1{font-size:3.5rem;}
h2, .h2{font-size:3rem;}
h3, .h3{font-size:2.5rem;}
h4, .h4{font-size:2.25rem;}
h4.sm, .h4.sm{font-size:2rem;}
h5, .h5{font-size:1.625rem;}
h6, .h6{font-size:1.375rem;}
h6.sm, .h6.sm{font-size:1.25rem;}
p.lg, .p.lg{font-size:1.125rem;}
p, .p{font-size:1rem;}
p.sm, .p.sm{font-size:.9375rem;}
p.xs, .p.xs{font-size:.875rem;}
p.xxs, .p.xxs{font-size:.75rem;}
@media screen and (max-width:991.98px){
  h2, .h2{font-size:2.75rem;}
  h3, .h3{font-size:2.5rem;}
  h6, .h6{font-size:1.25rem;}
}
@media screen and (max-width:767.98px){
  h2, .h2{font-size:2.5rem;}
  h3, .h3{font-size:2rem;}
  h6, .h6{font-size:1.125rem;}
}
@media screen and (max-width:575.98px){
  h2, .h2{font-size:2.25rem;}
  h3, .h3{font-size:1.75rem;}
  h6, .h6{font-size:1.0625rem;}
}


/* Inputs */
input[type=text], input[type=email], input[type=password], input[type=date], input[type=tel],
input[type=number], input[type=phone], input[type=submit], input[type=file], select, textarea{
  border:1px solid transparent; border-radius:0; box-shadow:none!important;
  font-size:1.3125rem; line-height:var(--lh); font-weight:300; padding:.4375rem .75rem; margin:0;
  outline:none!important; transition:border-color .25s, color .25s;
}


/* Animation */
@keyframes btnVideo {
	0% {transform:translateX(-50%)translateY(-50%)translateZ(0)scale(1); opacity:1;}
	100% {transform:translateX(-50%)translateY(-50%)translateZ(0)scale(1.5); opacity:0;}
}


/* Buttons */
.btn.btn-action{
  font-size:1rem; font-weight:300; text-align:center; width:auto;
  padding:.4375rem 1.5rem; border:1.5px solid transparent;
}
.btn.btn-action em{font-size:.8125rem;}
.btn.btn-action img{display:block; height:1.375rem; width:auto;}
.btn.btn-icon{width:2.875rem; height:2.5rem; border:1.5px solid transparent;}
.btn.btn-icon img{display:block; height:1.5rem; width:auto;}
.btn.btn-mw-01{min-width:14rem;}
.btn.btn-action.sm{font-size: .875rem; padding: .25rem 1rem;}
.btn.btn-gallery{
  width:2.875rem; height:2.875rem; display:flex;
  justify-content:center; align-items:center; border-radius:50%;
}
.btn.btn-gallery .icon{
  display:block; max-width:100%; width:auto; max-height:100%; height:1.375rem;
}
@media screen and (max-width:575.98px){
  .btn.btn-gallery{width:2.75rem; height:2.75rem;}
}
@media screen and (max-width:490.98px){
  .btn.btn-gallery{width:2.5rem; height:2.5rem;}
  .btn.btn-gallery .icon{height:1.25rem;}
}


/* Button */
.btn.btn-p, .btn.btn-p:focus{color:#ffffff; background:var(--color-p); border-color:var(--color-p);}
.btn.btn-p:hover{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.06);}
.btn.btn-p:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.12);}

.btn.btn-icon{display:flex; align-items:center;}

.btn-play{
	position:relative; width:3rem; height:3rem; border-radius:50%; z-index:2;
	display:flex; justify-content:center; align-items:center; cursor:pointer;
}
.btn-play > *:first-child{position:relative; z-index:3;}
.btn-play:before{
	content:''; display:block; position:absolute; left:50%; top:50%; width:100%; height:100%;
	border-radius:50%; animation:btnVideo 1.5s ease-out infinite;
}
.btn-play:after{
	content:''; display:block; position:absolute; left:50%; top:50%; width:3rem; 
  height:3rem; border-radius:50%;transform:translateX(-50%)translateY(-50%); transition:all .2s;
}
.btn-play.xl, .btn-play.xl:after{width:5rem; height:5rem;}
.btn-play.lg, .btn-play.lg:after{width:4rem; height:4rem;}
.btn-play.md, .btn-play.md:after{width:2.5rem; height:2.5rem;}
.btn-play.sm, .btn-play.sm:after{width:2rem; height:2rem;}
.btn-play.xs, .btn-play.xs:after{width:1.5rem; height:1.5rem;}


/* Background Gradient */
.background-gradient{
  position:absolute; top:0; right:0; bottom:0; left:0;
}


/* Filter */
.filter-01{
  position:absolute; top:0; right:0;
  bottom:0; left:0;
}


/* Hamburger */
.hamburger{cursor:pointer;}
.hamburger > *{
  width:1rem; height:.125rem; transform:translateX(.375rem); transition:all .45s;
}
.hamburger > *:nth-child(2){margin:.25rem 0; width:1.375rem; transform:none;}
.hamburger.active > *:nth-child(1){
  width:1.375rem; -webkit-transform:rotate(-45deg)translate(-.4rem, .4rem);
  transform:rotate(-45deg)translate(-.4rem, .4rem);
}
.hamburger.active > *:nth-child(2){opacity:0; transform:translateX(2rem);}
.hamburger.active > *:nth-child(3){
  width:1.375rem; -webkit-transform:rotate(45deg)translate(-.1rem,-.2rem);
  transform:rotate(45deg)translate(-.1rem, -.2rem);
}


/* Highlight */
.highlight{display:block; position:relative; width:100%; overflow:hidden;}
.highlight::after{
  content:''; display:block; width:50%; height:100%; 
  position:absolute; top:0; left:-75%; z-index:2;
  background:-webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  background:linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  transform:skewX(-25deg); transform:skewX(-25deg);
}
.highlight:hover::after{
  -webkit-animation:shine .75s; animation:shine .75s; pointer-events:none;
}
@-webkit-keyframes shine { 100% { left:125%; } }
@keyframes shine { 100% { left:125%; } }


/* Scroll Wrapper */
.scroll-wrapper{width:100%; overflow:hidden;}
.scroll-x-wrapper{width:100%; overflow-x:auto; overflow-y:hidden; padding:0 0 .875rem 0;}
.scroll-y-wrapper{width:100%; overflow-x:hidden; overflow-y:auto; padding:0 .875rem 0 0;}


/* Special Box */
.ss-box{display:block; width:100%; max-width:54rem; margin:0 auto;}
.ss-box.xl{max-width:69rem;}
.ss-box.lg{max-width:60rem;}


/* Special List */
.ss-list, .ss-list ul{width:100%; padding:0; margin:0; list-style:none;}
.ss-list > li{position:relative; padding:.1875rem 0 .1875rem 0;}
.ss-list ul > li{padding:.1875rem 0;} 
.ss-list > li::before{
  content:''; position:absolute; top:.625rem; left:0;
  width:.375rem; height:.375rem; border-radius:50%;
}
.ss-list ul > li::before{display:none;}


/* Special Card */
.ss-card{display:block; width:100%;}
.ss-card .title, .ss-card .desc{
  display:block; display:-webkit-box; text-overflow:ellipsis; overflow:hidden;
  -webkit-box-orient:vertical; transition:color .25s;
}
.ss-card .date{
  position:absolute; top:1rem; right:1rem; border-radius:50%; background:#ff750e;
  width:4.625rem; height:4.625rem; display:flex; flex-direction:column; justify-content:center; 
  align-items:center; padding:.25rem;
}
.ss-card .date .number{font-size:1.5rem;}

.ss-card .btn-play{
  position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);
}


/* Card Flip */
.card-flip:hover .inner-card{transform:rotateY(180deg);}
.card-flip .inner-card{
  position:relative; width:100%; height:100%; transition:transform .8s;
  transform-style:preserve-3d; cursor:pointer;
}
.card-flip .inner-card .front-side,
.card-flip .inner-card .back-side{
  position: absolute; width:100%; height:100%;
  -webkit-backface-visibility:hidden; backface-visibility: hidden;
}
.card-flip .inner-card .back-side{transform:rotateY(180deg);}


/* Inputs */
input[type=text], input[type=email], input[type=password], input[type=date], input[type=tel],
input[type=number], input[type=phone], input[type=submit], input[type=file], select, textarea{
    border:1px solid transparent; border-radius:0; box-shadow:none!important;
    font-size:1rem; line-height:1.15; font-weight:300; padding:.4375rem .75rem; margin:0;
    outline:none!important; transition:border-color .25s, color .25s;  font-family: "Noto Sans Thai", sans-serif;
    width:100%; min-height:2.775rem; border-radius:.375rem;
}


/* List Header */
.list-header{
  position:relative; width:100%; display:flex; align-items:center;
  justify-content:space-between; padding:.125rem 0; margin:0;
}
.list-header > .block{display:block;}
.list-header .option{
  display:inline-block; width:2.25rem; height:2.25rem; text-align:center;
  line-height:2.3125rem; font-size:1.0625rem; margin:0; padding:0;
  border-radius:1000em; border:1px solid transparent;
  transition:color .25s, border-color .25s, background .25s;
}
.list-header .option.search input, .list-header .option.date input{min-height:2.775rem; width:100%; border-radius:.375rem;}
.list-header .option.search, .list-header .option.cate, .list-header .option.order, 
.list-header .option.date{width:28.5%;}
.list-header.style-02 .option.search, .list-header.style-02 .option.cate, .list-header.style-02 .option.order,
.list-header.style-02 .option.calendar, .list-header.style-02 .option.date, 
.list-header.style-02 .option.sub-cate{width:calc(100% / 4);}
.list-header.style-03 .option.search{width:43%;}
.list-header .option.cate, .list-header .option.order, .list-header .option.date, 
.list-header .option.calendar, .list-header.style-02 .option.sub-cate{padding-left:1rem;}
.list-header .option.view{width:14.5%; display:flex; justify-content:flex-end;}
.list-header.minisite .option.view.view-grid{width:13.25%;}
.list-header .option .icon-view{
  display:flex; align-items:center; justify-content:center; width:2.875rem; height:2.875rem; cursor:pointer;
  border:1px solid transparent; font-size:1.125rem; transition:all .25s;
  border-top-left-radius: 50px; border-top-right-radius: 50px; border-bottom-left-radius: 50px
}
.list-header .option .icon-view.style-02{border-radius:.375rem;}
.list-header .option.view > .wrapper{position:relative; display:flex;}
.list-header .option{position:relative; min-height:2.875rem;}
.list-header .option > .ui.icon.input input{min-height:2.875rem!important; border:none;}
.list-header .option > select,
.list-header .option > input{
  position:relative; border-radius:.375rem; appearance:none; 
  cursor:pointer; height:100%; border:1px solid transparent; width:100%;
}
.list-header .option .dropdown-icon{
  position:absolute; right:0; pointer-events:none; width:2.5rem; height:100%; border-radius:0 .375rem .375rem 0;
  top:0; bottom:0; display:flex; justify-content:center; align-items:center; border:1px solid transparent;
}
.list-header .option.search .dropdown-icon{pointer-events:all;}
.list-header .options{display:flex; align-items:center; flex-wrap:wrap; margin:0; width:100%;}
.list-header .option{display:flex; align-items:center;}
.list-header .option > .ui.icon.input input{background:#eeeeee!important; border:1px solid transparent;}
.list-header .option .icon-view img,
.list-header .option .icon-view svg{
  display:block; max-width:100%; width:auto; max-height:100%; height:1.5rem;
}
.list-header .option .icon-view.disable{pointer-events:none;}
@media screen and (max-width:1199.98px){
  .list-header .option.search{width:33.33%;}
  .list-header .option.cate, .list-header .option.order,
  .list-header .option.date, .list-header .option.calendar, 
  .list-header .option.sub-cate, .list-header.style-03 .option.search{width:33.33%;}
  .list-header .option.view{width:100%; margin-top:1rem; justify-content:center;}
  .list-header.minisite .option.view.view-grid{width:100%;}
}
@media screen and (max-width:991.98px){
  .list-header .option.search, .list-header.style-03 .option.search{width:100%;}
  .list-header.style-02 .option.search,
  .list-header .option.cate, .list-header .option.order, 
  .list-header .option.date{width:50%; margin-top:1rem;}
  .list-header .option.rss{width:100%; margin-top:1rem !important; justify-content:center;}
  .list-header .option.cate{padding-left:0;}

  .list-header.style-02 .option.cate{padding-left:1rem;}
  .list-header.style-02 .option.cate, .list-header.style-02 .option.order, 
  .list-header.style-02 .option.date, .list-header.style-02 .option.calendar,
  .list-header.style-02 .option.sub-cate{width:50%; margin-top:1rem;}
  .list-header.style-02.sub-cate-md-pl-0 .option.sub-cate,
  .list-header.style-02.order-md-pl-0 .option.order,   
  .list-header.style-02.cate-md-pl-0 .option.cate{padding-left:0;}
  .list-header.style-02 .option.rss{width:100%; margin-top:1rem !important; justify-content:center;}
}
@media screen and (max-width:575.98px){
  .list-header .option{width:100%;}
  .list-header .option.cate, .list-header .option.order,
  .list-header .option.date{width:100%; padding-left:0;}
  .list-header.style-02 .option.search,
  .list-header.style-02 .option.cate, .list-header.style-02 .option.order,
  .list-header.style-02 .option.date, .list-header.style-02 .option.calendar,
  .list-header.style-02 .option.sub-cate{width:100%; padding-left:0;}
  .list-header .option.view{justify-content:center;}
  .list-header .option > span{display:none;}
}


/* List Footer */
.list-footer{
  margin:-.5rem 0; display:flex; align-items:center;
  justify-content:space-between; font-weight:300; white-space:nowrap;
}
.list-footer .option{display:flex; align-items:center; margin:.5rem 0;}
@media screen and (max-width:991.98px){
  .list-footer{display:block;}
  .list-footer .option{width:100%; justify-content:center;}
}
@media screen and (max-width:435.98px){
  .list-footer .option{flex-direction:column;}
}


/* Pagination */
.paginate{display:flex; align-items: center;}
.paginate .pages{display:flex; align-items: center; margin: 0 .0625rem;}
.paginate .page{
    display:block; border:0; width:2rem; height:2rem;
    line-height:2rem; font-size:.9375rem; font-weight:500; 
    cursor:pointer; margin:0 .625rem; padding:0;
    text-align:center; transition: background .25s, color .25s, opacity .25s;
    border:1px solid transparent;
    border-top-left-radius: 30px; border-bottom-right-radius: 30px; border-bottom-left-radius: 30px
}


/* Special Card 01 */
.ss-card-01{position:relative;}
.ss-card-01 .text-wrapper{
  display:flex; align-items:center; justify-content:center; height:5rem;
  position:absolute; bottom:0; left:0; right:0; padding:1rem .5rem;
  text-align:center; color:#ffffff; font-size:1.1875rem; font-weight:500;
}
.ss-card-01 .logo{
  position:absolute; top:0; left:0; background:#ffffff;
  padding:.75rem; border-radius:0 0 1rem 0; width:4.5rem; height:4.5rem;
  display:flex; justify-content:center; align-items:center;
}
.ss-card-01 .logo img{
  display:block; max-width:100%; width:auto; max-height:auto; height:3rem;
}
@media screen and (max-width:1199.98px){
  .ss-card-01 .text-wrapper{font-size:1.0625rem;}
}
@media screen and (max-width:490.98px){
  .ss-card-01 .text-wrapper{font-size:1.125rem;}
}
@media screen and (max-width:375.98px){
  .ss-card-01 .text-wrapper{font-size:1rem;}
}


/* Special Card 02 */
.ss-card-02{position:relative; overflow:hidden; transition:.5s;}
.ss-card-02 .text-wrapper{
  position:absolute; bottom:0; left:0; right:0; padding:1rem; transform:translateY(40px);
  color:#ffffff; font-size:1.125rem; font-weight:400; transition:.5s; opacity:0;
}
.ss-card-02:hover .text-wrapper{transform:translateY(0); opacity:1;}
.ss-card-02:hover{transform:translateY(20px);}


/* Special Card 03 */
.ss-card-03{position:relative; overflow:hidden;}
.ss-card-03 .ss-img{padding:175% 0 0 0;}
.ss-card-03 .text-wrapper{
  position:absolute; bottom:0; left:0; right:0; padding:.75rem 1rem; color:#ffffff;
}
@media screen and (max-width:991.98px){
  .ss-card-03 p.lg{font-size:1rem;}
}
@media screen and (max-width:490.98px){
  .ss-card-03 h4{font-size:1.625rem;}
  .ss-card-03 p.lg{font-size:1rem;}
}
@media screen and (max-width:375.98px){
  .ss-card-03 p.lg{font-size:.875rem;}
}


/* Special Card 04 */
.ss-card-04{
  position:relative;
  padding-bottom:8rem; border-radius:0 0 var(--bradius) var(--bradius);
  box-shadow: 0px 3.31px 8.27px 0px #0000001A;

}
.ss-card-04 .ss-img{
  border-radius:var(--bradius) var(--bradius) 0 0;
}
.ss-card-04 .tag {
  position:absolute; bottom:100%; left:0;
  min-width:5rem; white-space:nowrap; background:#ff750e;
  overflow:hidden; padding: .5rem 1.75rem .5rem 1.75rem;
}
.ss-card-04 .text-container{
  background:#ffffff;  border-radius:0 0 var(--bradius) var(--bradius);
  position:absolute; bottom:0; width:100%;
}
.ss-card-04 .text-container .wrapper{
  position:relative; padding:1rem; border-radius:0 0 var(--bradius) var(--bradius);
}
.ss-card-04 .text-container .title{-webkit-line-clamp:2;}
.ss-card-04 .text-container .description {display:none;}
.ss-card-04.hover .text-container .description {
  display:block; height:auto!important; opacity:1!important;
}
.ss-card-04 .text-container .desc{-webkit-line-clamp:3;}
@media screen and (max-width:767.98px){
  .ss-card-04{padding-bottom:6rem;}
  .ss-card-04 .text-container .title{-webkit-line-clamp:1;}
  .ss-card-04 .text-container .desc{-webkit-line-clamp:2;}
}


/* Special Card 05 */
.ss-card-05 .ss-img{border-radius:1.5rem 1.5rem 0 0;}
.ss-card-05.type-video{position:relative;}
.ss-card-05.type-video .btn-play{
  transform:translate(unset); left:unset; top:unset; right:0; bottom:0;
}
.ss-card-05.type-gallery{position:relative;}
.ss-card-05.type-gallery .btn-gallery{
  position:absolute; right:.975rem; bottom:.975rem;
}
.ss-card-05 .text-container{
  position:relative; padding:2.875rem .975rem .975rem .975rem; 
  box-shadow: 0px 4.63px 23.15px 0px #0000001A;
  border-radius:0 0 1.5rem 1.5rem;
}
.ss-card-05 .text-container > .title{
  font-size:1.25rem; font-weight:500; -webkit-line-clamp:2;
  transition:color .25s; min-height:3.25rem;
}
.ss-card-05 .tag{
  position:absolute; top:0; left:0; height:2.25rem; 
  padding:.5rem .875rem; display:flex; justify-content:center; align-items:center;
}
.ss-card-05 .ss-stats{margin-top:3rem;}
.ss-card-05 .stat .title{font-weight:400; font-size:.875rem!important;}
@media screen and (max-width:767.98px){
  .ss-card-05 .ss-stats{margin-top:1rem;}
}
@media screen and (max-width:575.98px){
  .ss-card-05 .text-container > .title{min-height:unset;}
  .ss-card-05.type-video .img-container{position:relative;}
  .ss-card-05.type-video .btn-play{
    transform:translate(-50%, -50%); left:50%; top:50%; right:unset; bottom:unset;
  }
}
@media screen and (max-width:490.98px){
  .ss-card-05.type-gallery .ss-stats{max-width:calc(100% - 2.5rem);}
}


/* Special Card 06 */
.ss-card-06{position:relative; box-shadow: 0px 4.8px 24.01px 0px #0000001A;  border-radius:.625rem .625rem;}
.ss-card-06 .wrapper{display:flex; flex-wrap:wrap;}
.ss-card-06 .img-container{width:25%;}
.ss-card-06 .text-container{width:75%;}
.ss-card-06 .text-container{
  position:relative; padding:2.875rem 1.5rem 1.5rem 1.5rem; 
  border-radius:0 .625rem .625rem 0;
}
.ss-card-06 .text-container{border-radius:0 0 1.5rem 1.5rem;}
.ss-card-06 .text-container > .title{
  font-size:1.25rem; font-weight:500; -webkit-line-clamp:1;
  transition:color .25s; min-height:2rem;
}
.ss-card-06 .text-container > .desc{-webkit-line-clamp:3;}
.ss-card-06 .tag{
  position:absolute; top:0; left:0; height:2.25rem; 
  padding:.5rem .875rem; display:flex; justify-content:center; align-items:center;
}
.ss-card-06 .ss-stats{margin-top:1rem;}
.ss-card-06 .stat .title{font-weight:400; font-size:.875rem!important;}
.ss-card-06 .text-container > .desc{min-height:2.875rem; font-size:.9375rem;}
.ss-card-06 .img-container .ss-img{border-radius:.625rem 0 0 .625rem; height:100%;}
.ss-card-06 .btn{position:absolute; bottom:1rem; right:2rem;}
@media screen and (max-width:991.98px){
  .ss-card-06{border-radius:1.5rem;}
  .ss-card-06 .img-container, .ss-card-06 .text-container{width:100%;}
  .ss-card-06 .text-container > .title{-webkit-line-clamp:2;}
  .ss-card-06 .text-container > .desc, .ss-card-06 .btn.btn-icon{display:none;}
  .ss-card-06 .ss-stats{margin-top:3rem;}
  .ss-card-06 .img-container .ss-img{border-radius:1.5rem 1.5rem 0 0;}
}
@media screen and (max-width:767.98px){
  .ss-card-06 .ss-stats{margin-top:1rem;}
}
@media screen and (max-width:575.98px){
  .ss-card-06 .text-container > .title{min-height:unset;}
}


/* Special Card 07 */
.ss-card-07{border-radius:1.5rem; box-shadow: 0px 4.63px 23.15px 0px #0000001A;}
.ss-card-07 .wrapper{display:flex; flex-wrap:wrap;}
.ss-card-07 .img-container{width:65%;}
.ss-card-07 .img-container .ss-img{border-radius:1.5rem 0 0 1.5rem;}
.ss-card-07 .text-container{
  position:relative; width:35%; padding:7rem 1.5rem 1.5rem 1.5rem; 
  border-radius:0 1.5rem 1.5rem 0;
}
.ss-card-07 .tag{
  position:absolute; top:2.9375rem; left:-1rem; height:2.25rem; 
  padding:.5rem .875rem; display:flex; justify-content:center; align-items:center;
}
.ss-card-07 .title{-webkit-line-clamp:2;}
.ss-card-07 .desc{-webkit-line-clamp:4;}
.ss-card-07 .ss-stats{
  position:absolute; bottom:2rem; left:1.5rem;
}
@media screen and (max-width:991.98px){
  .ss-card-07 .img-container{width:60%;}
  .ss-card-07 .text-container{width:40%; padding:5rem 1.5rem 1.5rem 1.5rem;}
  .ss-card-07 .tag{top:2rem;}
  .ss-card-07 .desc{-webkit-line-clamp:3;}
}
@media screen and (max-width:767.98px){
  .ss-card-07 .img-container{width:100%;}
  .ss-card-07 .text-container{width:100%; padding:2rem 1.5rem 1.5rem 1.5rem; border-radius:0 0 0 0;}
  .ss-card-07 .tag{top:-1rem; left:0;}
  .ss-card-07 .img-container .ss-img{border-radius:0 0 0 0;}
  .ss-card-07 .ss-stats{position:relative; left:unset; bottom:unset; margin-top:1rem;}
}


/* Special Card Hover Filter */
.ss-card .hover-filter{
  position:absolute; bottom:0; left:0; right:0; pointer-events:none; transition:all .3s;
  background-image:linear-gradient(to bottom, rgba(255,255,255,0), rgba(0,143,211,.95));
}
.ss-card .hover-filter.type-01{height:5rem;}
.ss-card:hover .hover-filter.type-01{height:140%;}
.ss-card .hover-filter.type-02{height:9rem;}
.ss-card:hover .hover-filter.type-02{height:140%;}

/* Special Card Hover Line */
.ss-card .line-1::before, .ss-card .line-1::after,
.ss-card .line-2::before, .ss-card .line-2::after,
.ss-card .line-3::before, .ss-card .line-3::after,
.ss-card .line-4::before, .ss-card .line-4::after{
  content:''; position:absolute; z-index:1;
}
.ss-card .ss-img .line-1, .ss-card .ss-img .line-2,
.ss-card .line-3::before, .ss-card .line-3::after,
.ss-card .line-4::before, .ss-card .line-4::after{pointer-events:none;}
.ss-card .line-1::before, .ss-card .line-1::after{
  left:50%; height:3px; width:0; transition:left .5s, width .5s;
}
.ss-card .line-1::before{top:0;} .ss-card .line-1::after{bottom:0;}
.ss-card:hover .line-1::before, .ss-card:hover .line-1::after{left:0; width:100%;}
.ss-card .ss-img .line-2::before, .ss-img .line-2::after {
  top:50%; width:4px; height:0; transition: top .5s, height .5s;
}
.ss-card .ss-img .line-2::after{right:0;}
.ss-card:hover .line-2::before, .ss-card:hover .line-2::after{top:0; height:100%;}
.ss-card .ss-img .line-2::before{left:0;}
.ss-card .line-7::before, .ss-card .line-7::after{
  height:3px; width:0; transition:left .5s, right .5s, width .5s;
}
.ss-card .line-3::before{top:0; left:25%;}
.ss-card .line-3::after{bottom:0; right:25%;}
.ss-card:hover .line-3::before{left:0; width:50%;}
.ss-card:hover .line-3::after{right:0; width:50%;}
.ss-card .line-3::before, .ss-card .line-3::after {
  height:3px; width:0; transition: left .5s, right .5s, width .5s;
}
.ss-card .line-4::before, .ss-card .line-4::after{
  width:3px; height:0; transition:top .5s, bottom.5s, height .5s;
}
.ss-card .line-4::before{left:0; top:25%;} 
.ss-card .line-4::after{right:0; bottom:25%;}
.ss-card:hover .line-3::before {left:0; width:50%;}
.ss-card:hover .line-4::before{top:0; height:50%;}
.ss-card:hover .line-4::after{bottom:0; height:50%;}

/* Special Card Hover Line  */
.ss-card .line-1::before, .ss-card .line-1::after,
.ss-card .line-2::before, .ss-card .line-2::after{background:#ff750e;}
.ss-card .line-3::before, .ss-card .line-3::after,
.ss-card .line-4::before, .ss-card .line-4::after{background:#ffffff;}
.ss-card .line-3.bg-p::before, .ss-card .line-3.bg-p::after,
.ss-card .line-4.bg-p::before, .ss-card .line-4.bg-p::after{background:#ff750e;}


/* Special Title */
.ss-title{display:flex;}
.ss-title > *:first-child{
  background-image:linear-gradient(to right,
    rgba(0,63,128,1), rgba(0,63,128,1),
    rgba(0,143,211,.5),
    rgba(0,63,128,1), rgba(0,63,128,1)
  );
  -webkit-background-clip:text; -webkit-text-fill-color:transparent;
}


/* Special Title 01 */
.ss-title-01{
  height:3rem; width:19rem; align-items:center;
  display:flex; position:relative;
}
.ss-title-01 .title{font-size:1.125rem; font-weight:600; padding-left:3rem;}
.ss-title-01 .pattern-01{position:absolute; top:-0.1rem; left:0;}
.ss-title-01 .pattern-02{position:absolute; bottom:.875rem; left:1.3125rem;}
@media screen and (max-width:1299.98px){
  .ss-title-01 .pattern-01{position:absolute; top:-0.0625rem;}
}


/* Special Image */
.ss-img{display:block; position:relative; width:100%; padding:65% 0 0 0; overflow:hidden;}
.ss-img.square{padding:100% 0 0 0;}
.ss-img.horizontal{padding:50% 0 0 0;}
.ss-img > .img-bg{
  position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
  background-position:center; background-repeat:no-repeat; transition:transform .3s;
}
.ss-img:hover > .img-bg, .ss-card:hover .ss-img > .img-bg{transform:scale(1.1);}
.ss-img.no-hover > .img-bg, .ss-card .ss-img.no-hover > .img-bg{transform:none!important;}

.ss-img .hover-container{
  position:absolute; top:0; bottom:0; left:0; right:0; opacity:0;
  display:flex; justify-content:center; align-items:center;
  transition:opacity .25s, background .25s;
}
.ss-img:hover .hover-container, .ss-card:hover .ss-img .hover-container{opacity:1;}
.ss-img .hover-container .icon{display:block; width:4rem;}
.ss-img .hover-container .icon.md{display:block; width:3rem;}
.ss-img .hover-container .icon > img{display:block; width:100%; height:auto;}
.ss-img .hover-container .icon > em{position:relative; z-index:2; font-size:3.5rem;}


/* Sep */
.ss-sep-01{
  display:block; width:100; max-width:20rem; height:.0625rem; 
  background:#0E3A8154; margin:0 auto;
}
.ss-sep-02{
  display:block; width:100; max-width:5.25rem; height:.0625rem; 
  background:#EEEEEE; margin:0 auto;
}


/* Special Stat */
.ss-stats{
  width:100%; display:flex; flex-wrap:wrap; margin:.25rem 0 0 0;
}
.ss-stats .stat{
  display:flex; align-items:center; white-space:nowrap; margin:.1875rem 1.25rem 0 0;
  font-size:.875rem; font-weight:400; transition:color .25s;
}
.ss-stats .stat .title{font-size:.875rem;}
.ss-stats .stat .icon{
  display:flex; align-items:center; font-size:.8125rem;
  justify-content:start; width:1.25rem; height:1.25rem;
}
.ss-stats .stat .icon img{
  display:block; width:.875rem; height:auto;
}


/* Special Tag */
.ss-tags{position:relative; display:flex; flex-wrap:wrap; overflow:hidden;}
.ss-tags > .tag{
    position:relative; display:block; font-size:.8125rem; font-weight:300; padding:.5rem .875rem .5rem .875rem;
    transition:background .25s, color .25s; margin:.25rem .25rem; border-radius:1000em;
}


/* Table */
table.table{width:100%; border-spacing:0; border:0; margin:0;}
table.table th, table.table td{
  vertical-align:middle; border-color:transparent;
  border-left:0!important; border-right:0!important;
}
table.table td{
  padding:.5625rem .625rem; font-size:.9375rem; font-weight:300;
  border:0; border-bottom:1px solid transparent;
}
table.table td:first-child{padding:.5625rem .625rem .5625rem .625rem;}
table.table tr:last-child > td{border-bottom:0;}
table.table td:last-child{padding:.5625rem 0 .5625rem .625rem; text-align:right;}
table.table.table-download .file-container .icon{
  width:54px; height:54px; display:flex;
  justify-content:center; align-items:center; transition:background .25s;
  background: white; border-top-left-radius: 90px; border-top-right-radius: 90px; border-bottom-left-radius: 90px;
}



/* Table Sizes */
table.table.table-lg td, table.table.table-lg th{padding:.6875rem .625rem;}
table.table.table-lg td:first-child,
table.table.table-lg th:first-child{padding:.6875rem .625rem .6875rem 0;}
table.table.table-lg td:last-child,
table.table.table-lg th:last-child{padding:.6875rem 0 .6875rem .625rem;}

table.table.table-sm td, table.table.table-sm th{padding:.4375rem .5625rem;}
table.table.table-sm td:first-child,
table.table.table-sm th:first-child{padding:.4375rem .5625rem .4375rem 0;}
table.table.table-sm td:last-child,
table.table.table-sm th:last-child{padding:.4375rem 0 .4375rem .5625rem;}


/* Spacing */
.p-0{padding:0!important;}
.p-1{padding:.25rem!important;} .p-2{padding:.5rem!important;}
.p-3{padding:.75rem!important;} .p-4{padding:1rem!important;}
.p-5{padding:1.25rem!important;} .p-6{padding:1.5rem!important;}
.pt-0{padding-top:0!important;} 
.pt-1{padding-top:.25rem!important;} .pt-2{padding-top:.5rem!important;} 
.pt-3{padding-top:.75rem!important;} .pt-4{padding-top:1rem!important;}
.pt-5{padding-top:1.25rem!important;} .pt-6{padding-top:1.5rem!important;}
.pr-0{padding-right:0!important;} 
.pr-1{padding-right:.25rem!important;} .pr-2{padding-right:.5rem!important;} 
.pr-3{padding-right:.75rem!important;} .pr-4{padding-right:1rem!important;}
.pr-5{padding-right:1.25rem!important;} .pr-6{padding-right:1.5rem!important;}
.pb-0{padding-bottom:0!important;} 
.pb-1{padding-bottom:.25rem!important;} .pb-2{padding-bottom:.5rem!important;}
.pb-3{padding-bottom:.75rem!important;} .pb-4{padding-bottom:1rem!important;}
.pb-5{padding-bottom:1.25rem!important;} .pb-6{padding-bottom:1.5rem!important;}
.pl-0{padding-left:0!important;} 
.pl-1{padding-left:.25rem!important;} .pl-2{padding-left:.5rem!important;}
.pl-3{padding-left:.75rem!important;} .pl-4{padding-left:1rem!important;}
.pl-5{padding-left:1.25rem!important;} .pl-6{padding-left:1.5rem!important;}

.m-0{margin:0!important;} .m-auto{margin-left:auto!important; margin-right:auto!important;}
.m-1{margin:.25rem!important;} .m-2{margin:.5rem!important;}
.m-3{margin:.75rem!important;} .m-4{margin:1rem!important;}
.m-5{margin:1.25rem!important;} .m-6{margin:1.5rem!important;}
.mt-0{margin-top:0!important;} 
.mt-1{margin-top:.25rem!important;} .mt-2{margin-top:.5rem!important;}
.mt-3{margin-top:.75rem!important;} .mt-4{margin-top:1rem!important;}
.mt-5{margin-top:1.25rem!important;} .mt-6{margin-top:1.5rem!important;}
.mr-auto{margin-right:auto!important;}
.mr-0{margin-right:0!important;}
.mr-1{margin-right:.25rem!important;} .mr-2{margin-right:.5rem!important;}
.mr-3{margin-right:.75rem!important;} .mr-4{margin-right:1rem!important;}
.mr-5{margin-right:1.25rem!important;} .mr-6{margin-right:1.5rem!important;}
.mb-0{margin-bottom:0!important;} 
.mb-1{margin-bottom:.25rem!important;} .mb-2{margin-bottom:.5rem!important;}
.mb-3{margin-bottom:.75rem!important;} .mb-4{margin-bottom:1rem!important;}
.mb-5{margin-bottom:1.25rem!important;} .mb-6{margin-bottom:1.5rem!important;}
.ml-auto{margin-left:auto!important;}
.ml-0{margin-left:0!important;}
.ml-1{margin-left:.25rem!important;} .ml-2{margin-left:.5rem!important;}
.ml-3{margin-left:.75rem!important;} .ml-4{margin-left:1rem!important;}
.ml-5{margin-left:1.25rem!important;} .ml-6{margin-left:1.5rem!important;}
@media screen and (max-width:767.98px){
  .sm-mt-4{margin-top:1rem!important;}
}


/* Utility */
.fw-100{font-weight:100!important;}
.fw-200{font-weight:200!important;}
.fw-300{font-weight:300!important;}
.fw-400{font-weight:400!important;}
.fw-500{font-weight:500!important;}
.fw-600{font-weight:600!important;}
.fw-700{font-weight:700!important;}
.fw-800{font-weight:800!important;}
.fw-900{font-weight:900!important;}

.lh-xl{line-height:calc(var(--lh) * 1.3)!important;}
.lh-lg{line-height:calc(var(--lh) * 1.2)!important;}
.lh-md{line-height:calc(var(--lh) * 1.1)!important;}
.lh-nm{line-height:calc(var(--lh) * 1.0)!important;}
.lh-sm{line-height:calc(var(--lh) * 0.9)!important;}
.lh-xs{line-height:calc(var(--lh) * 0.85)!important;}
.lh-xxs{line-height:calc(var(--lh) * 0.8)!important;}

.text-sm{font-size:75%;}
.text-xs{font-size:50%;}

.tt-unset{text-transform:unset!important;}

.ls-0{letter-spacing:0!important;}
.ls-1{letter-spacing:-.06!important;}
.ls-2{letter-spacing:-.12!important;}

.op-100{opacity:1!important;} .op-0{opacity:0!important;}
.op-10{opacity:.1!important;} .op-20{opacity:.2!important;} .op-30{opacity:.3!important;}
.op-40{opacity:.4!important;} .op-50{opacity:.5!important;} .op-60{opacity:.6!important;}
.op-70{opacity:.7!important;} .op-80{opacity:.8!important;} .op-90{opacity:.9!important;}

.h-op-07{transition:opacity .25s;}
.h-op-07:hover{opacity:.7;}

.pos-absolute{position:absolute!important;}
.pos-relative{position:relative!important;}
.pos-static{position:static!important;}

.d-block{display:block!important;}
.d-flex{display:flex!important;}
.d-inline{display:inline!important;}
.d-inline-block{display:inline-block!important;}
.d-none{display:none!important;}
@media screen and (max-width:767.98px){
  .flex-col-reverse-sm{flex-direction:column-reverse;}
}

.jc-start{justify-content:flex-start!important;}
.jc-center{justify-content:center!important;}
.jc-end{justify-content:flex-end!important;}
.jc-space-between{justify-content:space-between!important;}
.jc-space-evenly{justify-content:space-evenly!important;}
.ai-center{align-items:center!important;}
.ai-start{align-items:flex-start!important;}
.ai-end{align-items:flex-end!important;}
.ai-stretch{align-items:stretch!important;}
.ai-unset{align-items:unset!important;}
.fw-wrap{flex-wrap:wrap!important;}
.fw-unset{flex-wrap:unset!important;}
.fw-column{flex-direction:column!important;}

.w-auto{width:auto!important; min-width:0!important}
.w-full{width:100%!important; max-width:100%!important;}
.h-auto{height:auto!important; min-height:0!important;}
.h-full{height:100%!important; max-height:100%!important;}

.ws-nowrap{white-space:nowrap!important;}
.ws-normal{white-space:normal!important;}
.ws-prewrap{white-space:pre-wrap!important;}
.ws-preline{white-space:pre-line!important;}

.pe-none{pointer-events:none!important;}
.pe-auto{pointer-events:auto!important;}

.c-pointer{cursor:pointer!important;}
.c-unset{cursor:unset!important;}

.border-0{border:0!important;}
.border-1{border:1px solid transparent!important;}
.border-2{border:2px solid transparent!important;}
.border-3{border:3px solid transparent!important;}
.border-4{border:4px solid transparent!important;}
.border-top-0{border-top:0px solid transparent!important;}
.border-top-1{border-top:1px solid transparent!important;}
.border-top-2{border-top:2px solid transparent!important;}
.border-top-3{border-top:3px solid transparent!important;}
.border-top-4{border-top:4px solid transparent!important;}
.border-bottom-0{border-bottom:0px solid transparent!important;}
.border-bottom-1{border-bottom:1px solid transparent!important;}
.border-bottom-2{border-bottom:2px solid transparent!important;}
.border-bottom-3{border-bottom:3px solid transparent!important;}
.border-bottom-4{border-bottom:4px solid transparent!important;}
.border-left-0{border-left:0px solid transparent!important;}
.border-left-1{border-left:1px solid transparent!important;}
.border-left-2{border-left:2px solid transparent!important;}
.border-left-3{border-left:3px solid transparent!important;}
.border-left-4{border-left:4px solid transparent!important;}
.border-right-0{border-right:0px solid transparent!important;}
.border-right-1{border-right:1px solid transparent!important;}
.border-right-2{border-right:2px solid transparent!important;}
.border-right-3{border-right:3px solid transparent!important;}
.border-right-4{border-right:4px solid transparent!important;}

.bradius{border-radius:var(--bradius)!important;}
.bradius-0{border-radius:0!important;}
.bradius-1{border-radius:17px!important;}
.bradius-2{border-radius:20px!important;}
.bradius-round{border-radius:1000em!important;}

.box-shadow{box-shadow:rgb(0 0 0 / 7%) 0px 10px 20px;}

.ovf-unset{overflow:unset!important;}
.ovf-hidden{overflow:hidden!important;}
.ovf-visible{overflow:visible!important;}
.clear-both{clear:both!important;}

.va-top{vertical-align:top!important;}
.va-baseline, .va-bl{vertical-align:baseline!important;}

.text-center{text-align:center!important;}
.text-left{text-align:left!important;}
.text-right{text-align:right!important;}

.all-no-br > br{display:none;}
.all-hide{display:none;}
@media screen and (max-width:1199.98px){
	.lg-text-center{text-align:center!important;}
	.lg-text-left{text-align:left!important;}
	.lg-text-right{text-align:right!important;}
	
	.lg-jc-center{justify-content:center!important;}

  .lg-no-br > br{display:none;}
  .lg-hide{display:none;}
}
@media screen and (max-width:991.98px){
	.md-text-center{text-align:center!important;}
	.md-text-left{text-align:left!important;}
	.md-text-right{text-align:right!important;}
	
	.md-jc-center{justify-content:center!important;}

  .md-no-br > br{display:none;}
  .md-hide{display:none;}
}
@media screen and (max-width:767.98px){
	.sm-text-center{text-align:center!important;}
	.sm-text-left{text-align:left!important;}
	.sm-text-right{text-align:right!important;}
	
	.sm-jc-center{justify-content:center!important;}

  .sm-no-br > br{display:none;}
  .sm-hide{display:none;}
	
	.sm-ws-unset{white-space:unset!important;}
}
@media screen and (max-width:575.98px){
	.xs-text-center{text-align:center!important;}
	.xs-text-left{text-align:left!important;}
	.xs-text-right{text-align:right!important;}
	
	.xs-jc-center{justify-content:center!important;}

  .xs-no-br > br{display:none;}
  .xs-hide{display:none;}
  .xs-hide{display:none;}
	
	.xs-ws-unset{white-space:unset!important;}
}

.ss-height-01{height:18.625rem;}
@media screen and (max-width:991.98px){
  .ss-height-01{height:15rem;}
  .ss-height-02{height:15rem;}
}
@media screen and (max-width:767.98px){
  .ss-height-01{height:auto;}
  .ss-height-02{height:auto;}
}


/* Table Download */
.table.table .title, .table.table .desc{
  display:block; display:-webkit-box; text-overflow:ellipsis; overflow:hidden;
  -webkit-box-orient:vertical;
}
table.table.table-download{border:0;}
table.table.table-download tr{display:block; transition:background .25s;}
table.table.table-download td{border:0; position:relative;}
table.table.table-download td:nth-child(1){border-radius:.5rem 0 0 .5rem; overflow:hidden;}
table.table.table-download td:nth-child(2){width:100%;}
table.table.table-download td:last-child{padding:1rem;}
table.table.table-download .text-container{position:relative;}
table.table.table-download .text-container .pattern-01{position:absolute; top:0; right:-2rem;}
table.table.table-download .text-container .pattern-02{position:absolute; top:2.875rem; right:.175rem;}

table.table.table-download .text-container .file-pattern svg{
  display:block; max-width:100%; width:auto; max-height:100%; height:3rem;
}

table.table.table-download .file-container img,
table.table.table-download .file-container svg{
  display:block; width:1.5rem; height:auto; transition:all .25s;
}
table.table.table-download.style-01 tr {
  display:flex; min-height:6rem; justify-content:space-between;
  border-radius:var(--bradius-2); overflow:hidden; position:relative;
}
table.table.table-download.style-01.card-01 tr{border-radius:1.5rem 1.5rem 1.5rem 0!important; min-height:unset;}
table.table.table-download.card-01 td:last-child{padding:.25rem;}
table.table.table-download.card-01 .file-container .icon{height:100%; width:5rem;}
table.table.table-download.card-01 .file-container svg{width:2rem;}


table.table.card-01 td:first-child{padding:0 0 0 0;}
table.table.table-download.style-01 tr > td.file-container {
  border-radius:0; height:auto; width:5rem; transition:background .25s;
  display:flex; align-items:center;
}
table.table.table-download.card-01 tr > td.file-container{width:5rem; border-radius:1.5rem 0 1.5rem 0;}
table.table.table-download.style-01 tr > td.text-container {
  display:flex; justify-content:space-between; align-items:center;
  width:calc(100% - 10.75rem);
}
table.table.table-download.card-01 tr > td.text-container{width:calc(100% - 11.25rem); padding-left:1rem;}
table.table.table-download.style-01 tr > td.text-container .title{
  -webkit-line-clamp:1; transition:.25s; max-width:calc(100% - 1rem);
}
table.table.table-download.style-01 tr > td.text-container .title.size-01{max-width:55rem;}
table.table.table-download.style-01 tr > td.text-container .file-size{padding:0 1rem;}
table.table.table-download.style-01 tr > td.text-container .options,
table.table.table-download.style-01 tr > td.text-container .option,
table.table.table-download.style-01 tr > td.text-container .option .icon{
  display:flex; align-items:center; flex-wrap: wrap; font-size:.75rem; margin-bottom:.125rem;
}
table.table.table-download.style-01 tr > td.button-container{
  position:relative; display:flex; flex-direction:column; 
  justify-content:center; align-items:center; min-width:6.25rem;
}
table.table.table-download.style-01 tr > td.button-container:before{
  content:''; position:absolute; top:50%; bottom:0; left:0; width:.0625rem;
  height:calc(100% - 2.5rem); transform:translateY(-50%);
}
table.table.table-download.style-01 tr > td.button-container svg path{transition:fill .25s;}
table.table.table-download.style-01 tr > td.button-container .title{transition:color .25s;}
@media screen and (max-width:1299.98px){
  table.table.table-download .text-container .file-pattern{right:-1rem; max-width:26rem;}
  table.table.table-download.card-01 tr > td.text-container .title{max-width:27rem;}
  table.table.table-download.card-01 .text-container .file-pattern{opacity:.5;}
}
@media screen and (max-width:542.98px){
  table.table.table-download.style-01 tr > td.text-container {width:calc(100% - 6.75rem);}
  table.table.table-download.style-01 tr > td.button-container{min-width:4rem;}
}
@media screen and (max-width:991.98px){
  table.table.table-download.style-01 tr > td.text-container {width:calc(100% - 5rem);}
  table.table.table-download.style-01 tr > td.button-container{position:absolute; display:none;}
  table.table.table-download .file-container{align-items:start;}
  table.table.table-download .show-mobile{display:block!important;}
  table.table.table-download.style-01 tr > td.text-container .options{margin-top:.5rem!important;}
  table.table.table-download .file-pattern{opacity:.3;}

  table.table.table-download.style-01.responsive-01 tr > td.text-container {width:calc(100% - 11.0625rem);}
  table.table.table-download.style-01.responsive-01 tr > td.file-container{width:5rem}
  table.table.table-download.style-01.responsive-01 tr > td.button-container{position:relative; display:flex;}
  table.table.table-download .file-container img, 
  table.table.table-download .file-container .icon.doc svg{width:1.25rem!important;}

  table.table.table-download.card-01 tr > td.text-container{width:calc(100% - 5rem);}
  table.table.table-download.style-01 tr > td.file-container{align-items:start; padding-top:1rem;}
  table.table.table-download.style-01 tr{min-height:9rem;}
}
@media screen and (max-width:767.98px){
  table.table.table-download.style-01 tr{min-height:9rem;}
}
@media screen and (max-width:490.98px){
  table.table.table-download.style-01 tr > td.text-container {width:calc(100% - 3rem);}
  table.table.table-download.style-01 tr > td.file-container{width:5rem;}
  table.table.table-download .file-container img, table.table.table-download .file-container svg{width:1.5rem;}

  table.table.table-download.style-01.responsive-01 tr > td.file-container{width:4rem}
  table.table.table-download.style-01.responsive-01 tr > td.text-container {width:calc(100% - 10.25rem);}

  table.table.table-download.card-01 tr > td.file-container{width:5rem;}
  table.table.table-download.style-01 tr > td.text-container .option .p.sm,  table.table.table-download.style-01 tr > td.text-container .option .p.xs, table.table.table-download.style-01 tr > td.text-container .option .icon {
    font-size: .875rem!important;
  }
  
}
@media screen and (max-width:399.98px){
  table.table.table-download.style-01 tr > td.text-container {width:calc(100% - 2.5rem);}
  table.table.table-download.style-01 tr > td.file-container{width:5rem;}
  table.table.table-download .file-container img, table.table.table-download .file-container svg{width:1.25rem;}

  
  table.table.table-download.card-01 tr > td.file-container{width:5rem;}
  table.table.table-download.card-01 .file-container .icon{width:100%;}
  table.table.table-download.style-01 tr > td.text-container .option .p.sm,  table.table.table-download.style-01 tr > td.text-container .option .p.xs, table.table.table-download.style-01 tr > td.text-container .option .icon {
    font-size: .75rem!important;
  }
}


/* Colors */
.color-p, .h-color-p:hover{color:var(--color-p)!important;}
.color-s, .h-color-s:hover{color:var(--color-s)!important;}
.color-white, .h-color-white:hover{color:#ffffff!important;}
.color-black, .h-color-black:hover{color:#000000!important;}
.color-danger, .h-color-danger:hover{color:#ff0000!important;}
